[2018-05-22 18:22] brynhayder opened #1 "investory.py l175"
think it should be .profit, rather than .proft.

[2018-05-22 18:28] brynhayder opened #2 "Seems like link to source code goes to a different bot"
https://github.com/thecsw/memeinvestor_bot/blob/master/src/message.py#L9

[2018-05-22 18:47] thecsw commented on #2
Oops, thanks!
The issue is fixed.
Check the link below for the commit fixing the issue!
[Fix](https://github.com/thecsw/memeinvestor_bot/commit/a170be58b2e36e2ff702e205e116af9edbe1b3dd)

[2018-05-22 18:47] #2 closed, assigned to nobody

[2018-05-22 18:49] thecsw commented on #1
Thank you!
Thanks, this if statement was never triggered before.
Have a nice day!

[Fix](https://github.com/thecsw/memeinvestor_bot/commit/f2a20e1066359cbfe65d73e3ede80a38a9e9fd66)

[2018-05-22 18:49] #1 closed, assigned to nobody

[2018-05-23 02:55] rickles42 opened #3 "Minor typos in messages"
The word "successfull" should be "successful" and the word "unsuccessfull" should be "unsuccessful"

[2018-05-23 04:27] rickles42 opened #4 "!invest command should announce user's buy-in price"
(Just a suggestion to make investments more dramatic and social.) I noticed several memes where someone had invested early and were about to make bank, but others couldn't really tell _how_ early. The !invest command should include something like, "You bought in at 4 upvotes" so spectators can really tell when a master got in on the ground floor.

[2018-05-23 05:28] thecsw commented on #3
Pull request #6 fixes the issue. Thanks for pulling!

[2018-05-23 05:28] #3 closed, assigned to nobody

[2018-05-23 05:38] thecsw commented on #4
Pull request #5 Fixes this

[2018-05-23 05:38] #4 closed, assigned to nobody

[2018-05-23 08:08] rickles42 opened #7 "Suggestion: !leaderboard command to show users with the highest balances"
Could be fun for people to be able to see, for example, the top 10 balances (and associated usernames)

[2018-05-23 08:19] rickles42 opened #8 "Suggestion: Add cosmetic reward for users who have never gone bankrupt (or cosmetic punishment for users who have)"
(Totally up to you what direction you want to take your bot--just throwing this possible feature out there.)

It could encourage high-quality investment decisions if, for example, users who have gone bankrupt 3 times have a little [3☠] added to their messages. Or, on the flip side, maybe users who have never gone bankrupt could get a little [💰] added to their messages.

[2018-05-23 08:31] rickles42 opened #9 "Suggestion: !active command to show users how many total active trades there are"
Could be fun for users to see how many investments are currently awaiting evaluation. This would kind of mimic the concept of "market volume" in the real stock markets. The command could give the total number of active trades, plus the total amount of MemeCoin currently on the line.

[2018-05-23 08:47] rickles42 opened #10 "Minor timing bug when checking investments"
(This is a minor issue unlikely to affect many users or many investments.)

There's a small logical error in the way check_investments timing and upvote counts. Basically, if a bunch of people make investments around the same time, then 6 hours later, only the _first_ investment of that bunch will have his investment evaluated at 6 hours---the rest will have their investments evaluated at 6hrs+1se

[2018-05-23 13:16] thecsw commented on #10
I just deleted the 1 second timer. We will see how it goes. Thanks for the issue!

[2018-05-23 13:16] #10 closed, assigned to nobody

[2018-05-23 13:37] thecsw commented on #9
I added two new options.
!active will show the number of active investments on your account.
!market will show the whole market's status.

[Fix](https://github.com/thecsw/memeinvestor_bot/commit/ea96f57e7dd4e90d9dfee8abd83f358ac8397d3a)

[2018-05-23 13:37] #9 closed, assigned to nobody

[2018-05-23 13:38] thecsw commented on #7
Nice feature. I thought about getting the bot a website or another script to do it. I will work on it!

[2018-05-23 13:38] thecsw commented on #7
Accidentally closed the issue.

[2018-05-23 13:39] thecsw commented on #8
To do so, I should talk with r/MemeEconomdy mods.
I will consider this, thanks!

[2018-05-23 17:03] rickles42 commented on #8
I like the idea of implementing this as user flair (which, as you say, would require mod support) but you wouldn't necessarily have to do that - I was really just thinking the bot could include the cosmetics in the responses it makes to users. So for example, if a user with 2 bankruptcies uses !balance, the bot could add [2☠] to the end of the balance statement.

[2018-05-24 01:50] Wattsy2020 opened #15 "!Help message is triggered by the bot's own comments"
Bot messages include the line "For more information type !help", which triggers the bot itself. Comment thread for reference: https://www.reddit.com/r/MemeEconomy/comments/8lmryv/versatile_and_easy_to_use_format/dzh4zun/

[2018-05-24 06:12] thecsw commented on #15
It is not my bot and my bot never responded to itself!

I don't know what the second author changed in the code, my bot never did that.
Check the comment I left here #16 and here #17

[2018-05-24 06:12] #15 closed, assigned to nobody

[2018-05-24 08:32] sorahavok opened #18 "Bot is causing infinite calls to self."
Whenever a user attempts to !help or !create the bot will print the help text which contains !help which will cause the !help text to be printed again which causes the same issue [example](https://www.reddit.com/r/MemeEconomy/comments/8lmryv/versatile_and_easy_to_use_format/dzh60y8).

One easy way to fix this would be to add a !ignore command to [main.py](https://github.com/thecsw/memeinvestor_bot

[2018-05-24 09:02] thecsw commented on #18
This is not an issue of my bot, the bot right now is buggy and I think that the owner of the second bot deleted some code that caused the bot to spiral in infinite recalls. Refer to #15 for details or take a look at the original main.py again.

[2018-05-24 09:02] #18 closed, assigned to nobody

[2018-05-24 18:44] OofYeetMcGee opened #26 "Suggestion"
!short AMOUNT

To short bad memes

[2018-05-24 18:50] robalb commented on #26
What do you mean?

[2018-05-24 18:52] thecsw commented on #26
Do you want to bet against memes?

[2018-05-24 18:53] jimbobur commented on #26
In theory this could be achieved by making the shorted return:
 return_short = investment * multiplier_calculate( - change_in_upvotes )
 i.e the same return function behaviour but gaining you coins if the meme upvotes count decreases.

**HOWEVER**: If a bad meme is posted, it's likely to just stay at  or close to zero upvotes. If it's already got sufficiently high upvotes that you could theoretica

[2018-05-24 18:53] thecsw commented on #26
btw, bot is running!

[2018-05-24 18:58] OofYeetMcGee commented on #26
Why not double the reward for shorting as it's clearly a high risk maneuver?

[2018-05-24 19:14] thecsw commented on #26
Just explain the whole thing and we will think about it

[2018-05-24 19:56] OofYeetMcGee commented on #26
The basic idea is to be able to bet against memes. While this does indeed sound crazy, as posts usually only go up or flatline at only a few upvotes, it would be interesting if there was the ability to bet against posts you feel are going to get downvoted. Since shorting is much more risky than typical buy options, dev might consider rewarding shorts by a higher factor. It would also add an incent

[2018-05-26 07:43] agincel opened #30 "Make a single top level comment on all /r/MemeEconomy posts, and only parse commands that are a reply to it"
/r/MemeEconomy comment threads have become littered with MemeInvestor Bot commands. The easiest way to circumvent this is to have the bot add a single comment upon the posting of a new thread, and to only listen for/respond to commands that are in reply to that comment. (Effectively, just check that a comment is replying to any comment made by the bot).

This will greatly improve the /r/MemeEconom

[2018-05-26 09:36] robalb opened #31 "Suggestion: Add inside trading penalty"
As some redditors have pointed out, insider trading ( investing in your own meme) can be a serious issue, and should be penalized with a profit reduction in case of  succesful investment

[2018-05-26 10:26] thecsw commented on #31
Wil do! I will update when I'm done implementing this!

[2018-05-26 12:08] thecsw commented on #31
Hey! I added a feature that does not allow insider trading! No penalty for now, just not allowed.

[Commit](https://github.com/thecsw/memeinvestor_bot/commit/f1c99069780cd37107dafefa16109d3461038cbf)

[2018-05-26 12:08] #31 closed, assigned to nobody

[2018-05-26 12:10] thecsw commented on #30
We already have the feature implemented but it is not active!
We are waiting for mods' approval.

[2018-05-26 15:12] #30 closed, assigned to nobody

[2018-05-26 15:15] thecsw commented on #26
Dev team discussed this and we think this is a bit unnecessary at this stage of MemeInvestor. Sure, the idea is good but Reddit doesn't have a -100 downvoted memes. It doesn't work on the platform so smoothly as it works in real life. For now, I will close this issue. If somebody can correct me or change my mind, please do!

Sincerely,
thecsw

[2018-05-26 15:15] #26 closed, assigned to nobody

[2018-05-26 23:47] sezze opened #32 "Big flaw in investment algorithm"
Currently the "x" variable in the algorithm for the return is an absolute change in upvotes. This creates problems. If I invest in something with 1 upvote I am risking a lot, no one knows what will happen, pretty good if it then ends up at 1000 upvotes after 4 hours. On the other hand if there's a post with 100k upvotes, it's pretty much guaranteed that it will gain more than just 1000 additional

[2018-05-27 06:59] thecsw commented on #32
As a fix, I will just multiply the formula by an inverse-square to the power 10. This *new* formula will favor the small initial upvotes. Surely, in the future, we can come up with better ideas!

[2018-05-27 06:59] #32 closed, assigned to nobody

[2018-05-28 20:56] TwiN opened #36 "Ignore commands that are not replies to top level comment"
As mentioned in #30, commands that are not replies to the top level comment should be **completely** ignored.

That way, not only can the bot be improved (only check for replies of top level comment rather than all comments), it will be future-proof as [some users will eventually complain](https://www.reddit.com/r/MemeEconomy/comments/8msuyv/this_format_can_work_for_a_variety_of_things_a/dzq3zru/)

[2018-05-29 17:46] TwiN opened #38 "Add command to report unprocessed investment"
Some people have investments that are still unprocessed (e.g. [me](https://www.reddit.com/r/MemeEconomy/comments/8msuyv/this_format_can_work_for_a_variety_of_things_a/dzrr60r/?context=3))

![](https://twinnation.org/api/screenshots/2018-05-29_134246.png)

The command would force the bot to read the previous investment comment it posted, and update it accordingly.

I am aware that this is no easy c

[2018-05-29 22:22] thecsw commented on #38
Hey! No need for that. The "unreturned" investments were just a 1 day issue with our new codebase. It has been fixed. The system automatically checks for investments that need to be evaluated and it can't miss that.

Happy investments!

[2018-05-29 22:22] #38 closed, assigned to nobody

[2018-05-29 22:23] thecsw commented on #36
Yes, it will be added tomorrow, I guess. Only commands replied to our anti-spam message will be parsed.

[2018-05-29 23:43] rickles42 commented on #7
Submitted new PR for this using the new codebase and addressing the feedback from the first PR.

[2018-05-31 05:58] ometrist opened #43 "Request: the OP will get a small percentage of investments as a reward for their post"
I'm assuming there is no insider trading. If there is no insider trading, it means there is less motivation for an OP to put out a good meme. If theirs is doing really well, and they are unable to invest in it, it benefits everyone besides the OP. I'm thinking the poster should get 1% of whatever investments are made or less.

It also gives OP a reason to not delete their meme if it starts doing r

[2018-05-31 08:34] thecsw commented on #43
Will add this to TODO list!
Thanks

[2018-05-31 15:28] #7 closed, assigned to nobody

[2018-06-01 05:37] ometrist opened #48 "Change graph for Step 1 on the README"
As the current graph with the blue line looks outdated, I decided to make a new graph that compliments what's already present on the README.

I recommend using the graph below, or make a different one of course if you want. I'd love to help you guys out more with what you need but I know nothing about coding/programming. You guys are doing God's work here 😄

![j0u2gzp](https://user-images.githubus

[2018-06-01 05:55] rickles42 commented on #48
+1 for using Comic Sans

[2018-06-01 06:03] ometrist commented on #48
my computer is calling the font "Chalkboard" but it does look like Comic Sans lol, you can pick any font you want and i'll change it

[2018-06-01 07:48] rickles42 opened #49 "Suggestion: Make main.py single-threaded instead of using workers"
I think the multithreading approach in main.py is likely a case of over-optimization. I haven't run the bot myself, but from what I can see of the code, there shouldn't be much benefit to using multiple concurrent CommentWorkers mediated by a Queue.

**Explanation**: From what I can tell, the limiting factor determining the bot's maximum throughput is likely to be the Reddit-enforced limit on its

[2018-06-01 07:51] jimbobur commented on #48
I like this graph, the comic sans adds character :smile: . I was thinking about replacing the first graph with something like this before I went to bed last night. What software did you use to produce it?

[2018-06-01 08:10] ometrist commented on #48
Whatever's pre-installed on my MacBook... "preview" and I used some random website to make the initial graph. I can't remember the exact website. Want me to make more stuff? You let me know

[2018-06-01 10:38] jimbobur commented on #48
Have added a pull request to the project with a different bot comment update for when a user breaks even. Once it's approved we can add this graph to the readme.

[2018-06-01 22:26] rickles42 opened #52 "Suggestion: Decouple the bot's input loop from its output loop"
Currently, the bot only processes new commands and updates the game state as fast as it can output the results. (Said differently, its input loop, game state loop, and output loop are all closely coupled.) The bot could be made more flexible and responsive if these loops were decoupled: allow the input loop to process commands and update the game state in real time, while the output loop is respon

[2018-06-01 23:00] rickles42 commented on #36
Unless I'm mistaken, this is addressed by main.py line 76, which attempts to ensure that only direct replies to the bot are processed:

`comment.parent().author.name != config.username`

[2018-06-02 00:37] spreadneck commented on #52
Could this output loop just be another bot?

[2018-06-02 01:33] rickles42 commented on #52
Yes, in theory. But notice that the input loop wouldn't actually post to Reddit at all, so it might be more accurate to say that the output loop is the _only_ Reddit bot in this configuration. (The input loop does have to monitor Reddit and modify the database, but I don't know whether people would consider that set of functionality a "bot" exactly.)

[2018-06-02 05:37] rickles42 opened #53 "Bot should be easier to configure and deploy from scratch in a test environment"
Ideally a new developer should be able to install Docker, clone the repo, and run a single command to spin up a "dummy" version of the bot.

The dummy wouldn't need to have full functionality (like actually monitoring or posting to Reddit) but it should spin up a real database instance (probably empty). It should probably accept commands via stdin and print replies and output via stdout - enough f

[2018-06-02 08:22] rickles42 commented on #53
I can try tackling this issue this weekend. I think the work breaks down into the following pieces:

1. Refactor main.py into two loosely-coupled parts: the game state and the input loop ("driver"). Now a Python loop that monitors Reddit comments can be thought of as just one possible driver. A simple command-line-based loop can be used as the default (dummy) driver.

2. Refactor main.py's output

[2018-06-02 16:38] rickles42 opened #56 "!top command doesn't line-break correctly"
See the example response here:
https://www.reddit.com/r/MemeEconomy/comments/8o173y/meme_wars_the_bot_awakens/dzzw5fz/?st=jhxmedmk&sh=1d68ad6a

[2018-06-02 17:29] #48 closed, assigned to nobody

[2018-06-02 17:29] thecsw commented on #36
This is true. Only direct replies will be processed.

[2018-06-02 17:29] #36 closed, assigned to nobody

[2018-06-02 17:33] dzervas commented on #49
comment/s? Really? that's too slow...
I've been thinking to disable threading anyway, I don't think that they give any real optimization.

[2018-06-02 17:39] thecsw commented on #49
Yeah, threads in python are not real threads. Due to python's nature and its interpreter, it can't execute multiple threads naturally and instead of that, it just "simulates" threading.

[2018-06-02 17:44] jimbobur commented on #48
Have pushed @ometrist 's graph to a new branch and opened a [new pull request](https://github.com/MemeInvestor/memeinvestor_bot/pull/59)

[2018-06-02 18:21] thecsw commented on #56
Yeah, this is an issue for desktop clients! I will review the pull request! Thanks

[2018-06-02 18:21] rickles42 commented on #49
Python multithreading can increase performance when multithreading is called for. However, I don't think threading is the limiting factor for this bot -- I think it's comment post speed. Therefore as dzervas said, we don't get much benefit from the multithreading and it only makes the code harder to maintain.

[2018-06-02 18:23] thecsw commented on #56
Thanks, your pull request #57 has been merged!

[2018-06-02 18:23] #56 closed, assigned to nobody

[2018-06-02 19:56] robalb opened #61 "avoid getting graph data in homepage if day didn't change"
just save the current timestamp on page load, and check it every time the update function is called

[2018-06-02 21:16] #61 closed, assigned to nobody

[2018-06-02 22:08] ometrist opened #64 "Change Graph for "First Step" on memes.market"
Seems we changed the graph on the readme, might as well update the graph on the website's homepage too?

[2018-06-03 00:10] robalb commented on #64
Done, it's just not on the live website yet

[2018-06-03 00:10] #64 closed, assigned to nobody

[2018-06-03 03:14] kerv17 opened #65 "Wire funds/transfer investments"
Sell risky investments to other investors to make it a more realistic market

[2018-06-03 09:02] ometrist commented on #65
this seems like a lot of work to write code for that I think isn't too worthwhile to do, I'd honestly be okay not having this feature at all

[2018-06-03 09:58] thecsw commented on #49
Hmm. What about rewriting the bot in golang? We can do some real threads and use CPU at max

[2018-06-03 09:59] thecsw commented on #53
Yeah, the bot deployment is not very user and newbie friendly right now. The documentation and maybe wiki page is in development rn. We will publish new instruction, hope it can make everything clearer

[2018-06-03 10:02] thecsw commented on #65
Hi, if you mean transfer investments, that's really not needed! And it is also quite pain in the ass to implement. However, we can make a `!send` command that can transfer funds from one account to another. For example, if I write `!send 100 thecsw`, it will send 100 memecoins to thecsw if he has an account. This is possible. If you want to talk about this feature, please open another issue. I nee

[2018-06-03 10:02] #65 closed, assigned to nobody

[2018-06-03 16:04] rgwohlbold commented on #49
As others already said, I think that CPU improvements and multithreading are unnecessary as long as one single bot account is used. If there was one main MemeInvestor_bot that comments on every post and 4 other accounts that split the comments and do not share a comment limit, there could be real performance improvements for the bot. Every thread could have its own account and, while it is waiting

[2018-06-03 18:13] rickles42 commented on #49
Rephrasing what poshut said just a little bit: I think the only way parallelism would make a significant improvement to this bot's throughput would be to multithread the output loop, so that multiple Reddit accounts could be posting replies at the same time, i.e. with a total throughput of two posts per second instead of one.

(And again this is based on my analysis of the code, not direct experie

[2018-06-03 18:15] rickles42 commented on #53
I'm currently working on this. I hope to have an easily-deployed dummy bot ready this weekend.

[2018-06-03 18:16] rickles42 commented on #49
This issue should be addressed by my work on Issue #53

[2018-06-03 18:47] rgwohlbold commented on #49
Yes that would be a great improvement. Depending on how much throughput there is, this could remove the necessity for multithreading everywhere, only the output loop would be multithreaded. You could have a number of worker threads corresponding to the number of accounts, and a queue in which replies are enqueued by the single calculation thread and messages are dequeued and posted by the differen

[2018-06-03 18:52] rickles42 commented on #49
Precisely!

[2018-06-04 03:18] sreetamdas commented on #43
Agreed, the karma doesn't matter for anything in the Economy, the OP should be rewarded for quality meme templates.

[2018-06-04 08:51] rickles42 commented on #53
This rewrite is going to be more extensive than expected. I might have to start smaller and make baby steps.

[2018-06-04 16:00] dzervas commented on #53
Hey, just keep in mind that unix sockets are fairly fast and can probably be used for IPC between the reddit consumers (submitter, main & calculator) and the provider. Just throwing ideas...

[2018-06-04 18:06] thecsw opened #71 "Going to Gitlab?"
We all  know that Microsoft has very aggressive business strategy. Remember Skype, Nokia, LinkedIn, Minecraft and etc.? Let's migrate to Gitlab!

[2018-06-04 18:20] rickles42 commented on #71
Right now GitHub is the best place for collaborative coding. I suggest waiting until Microsoft actually does something to harm GitHub before jumping ship, otherwise you're just adding unnecessary chaos to the project.

Full disclosure: I'm a Microsoft employee 😄

[2018-06-04 19:36] rickles42 opened #73 "Deploying the bot should create an empty database if no database exists"
The code today depends on the existence of a pre-initialized database, which makes it difficult to do your own test deployment from scratch.

If someone who understands SQLAlchemy could update the project to handle the case when no Investor or Investment tables exist (at least when DRY_RUN is enabled), that would be super helpful.

[2018-06-04 19:58] rickles42 commented on #73
Alternatively, someone could just check in a script that initializes an empty database offline, along with instructions to put that database into the right spot to be used by a deployment. (This would just add a couple configuration steps to the README which is fine for now.)

[2018-06-04 20:20] TwiN commented on #71
@thecsw I don't think there's a need to migrate this early, Microsoft hasn't acquired GitHub yet. The deal should close by the end of the year according to [Microsoft's article](https://news.microsoft.com/2018/06/04/microsoft-to-acquire-github-for-7-5-billion/):

Though it is up to you, the repository is yours.

[2018-06-04 20:22] thecsw commented on #73
`CREATE TABLE Name IF NOT EXISTS`

[2018-06-04 20:22] thecsw commented on #73
Okay, we will get on it

[2018-06-04 23:48] TwiN opened #74 "Formula should be adjusted"
**NOTE:** I'm not saying that there is anything wrong with investing early! However, if a meme ends up with 10 upvotes at the end of the 4 hours mark, the meme should not be considered as high quality, thus the value of the meme on the market should yield a lower investment return than a meme that has 500+ upvotes after 4 hours.

# Problem

Making MemeCoins is too easy with the current formula, an

[2018-06-05 00:00] TwiN commented on #49
@thecsw Porting the bot to Go isn't a bad idea at all. There's a praw alternative for Go: [graw](https://github.com/turnage/graw).

[2018-06-05 00:36] rickles42 commented on #49
It's not a bad idea but I don't think it will help performance. As poshut and I were saying, I think the limiting factor is the Reddit API cap, not the running code or even the database.

[2018-06-05 01:14] TwiN commented on #49
@rickles42 according to Reddit's [API rules](https://github.com/reddit-archive/reddit/wiki/API#rules), it's 60 requests per minute per user.

Perhaps we could split the workload between 2 different bot accounts like @poshut suggested,
but we'd have to contact Reddit and ask if it's fine to have more than one bot. I feel like using 2 bot accounts to bypass the request limit might be frowned upon.

[2018-06-05 01:21] TwiN commented on #43
@thecsw @ometrist What if OP doesn't have an account? Should the user be automatically created?

[2018-06-05 02:55] ometrist commented on #43
Whatever is easier to code, I'm happy with not giving them anything if they dont have an account

[2018-06-05 03:54] ometrist commented on #74
The threshold is ~1.7x growth in upvotes which is still met by going from 1 to 2 upvotes, just wanna clarify. I highly agree something needs to change. **I LIKE YOUR SOLUTION!** I'd change the fact that a meme with 100+ upvotes would have a maximum return of 3800%, similar to what the max multiplier is currently set at.

How easy would something like this be to code?

[2018-06-05 04:12] NelsonZC opened #75 "All in"
Either a simple !allin or !invest balance to streamline betting all of your meme coins on one meme

[2018-06-05 04:17] ometrist commented on #75
It would be pretty cool to go all in, like we're in vegas, but i'm not a big fan of this for a couple reasons

1) more coding work
2) people would do this frequently and go bankrupt more frequently due to going all in (like for example if the OP deleted the post after someone went all in). Let's see what others think

[2018-06-05 04:22] NelsonZC commented on #75
Those are good points but counter argument
1. I’m willing to bet they have thought of it and discussed it, if not now it’s out there
2. They’re just meta internet points that really mean nothing so going all in is just another way to have fun and add risk.

[2018-06-05 09:11] jimbobur commented on #74
I've had something in the works to address this exact problem. I've been tinkering with it since Sunday.
Also note, the relative change in upvotes is cube rooted, so a 1.2 threshold on the factor is actually a 1.728 threshold on the relative change in upvotes, but that's by the by anyway.

[2018-06-05 09:54] jimbobur commented on #74
So basically, as you've correctly observed, there needs to be some range thresholding on lower final upvotes. This can be achieved by multiplying the current cuberoot function by a sigmoid (logistic) function of the final post upvotes after 4h with a sensibly-chosen midpoint and steepness parameter. To this end, I've been playing around with this numerically, and have also coded it in a standalone

[2018-06-05 10:12] ometrist commented on #74
I like the work you're putting into this and I'm glad to see you were doing it even before anyone finally brought it up on here. Your graph looks very nice and the table makes it easy to understand.

In my honest investing opinion, it looks like based on those numbers that people would lose on almost every investment. I'd be afraid to invest in anything. This nerfs /new posts, but by too much and

[2018-06-05 10:19] jimbobur commented on #74
As I said, the above numbers/plot are just an example; the function parameters I chose were completely arbitrary (whilst still being something at least vaguely sensible). The form of the sigmoid function is tunable as desired by adjusting its slope/midpoint (/max value too, if needed).

[2018-06-05 10:54] jimbobur commented on #74
To illustrate this, I've just re-ran the numbers. I set the midpoint to 250 and solved numerically for the sigmoid steepness parameter needed to set the final upvotes win/lose threshold for starting at 0 upvotes to be (as an example) 150 upvotes. The required steepness is 0.0123190233003174 and the plot now looks like this:
![image](https://user-images.githubusercontent.com/34943023/40971752-8c87f

[2018-06-05 11:28] ometrist commented on #74
i read that as "function is turntable and desired" twice. it's past 4AM for me here, you'll have to forgive me.

You use a lot of words i do know and a lot of words I don't know lol.  If I look at the exact function written out that you used to make the "CUBEROOT * SIGMOID Win/Lose threshold final upvotes" column on your second table, I would love to play with it. I took calculus and stats *years*

[2018-06-05 13:29] thecsw commented on #74
You know, I really like this side project. We talk so seriously, use *complex* math and draw some sophisticated graphs to represent a growth in popularity of **memes**. Let this project rise and continue! Thank you for your time and contribution!

[2018-06-05 14:14] GhostBetta opened #76 "How is the initial growth factor of a post calculated when the initial score is 0?"
From the formula on your website, it looks to be impossible to calculate the return on an investment on a post that started with 0 upvotes, as it would require to divide by zero. However, having invested in a post with 0 upvotes myself, I know this not to be true.

Is there some other way to calculate the initial growth factor of a post when it has a score of 0 points?

[2018-06-05 14:48] jimbobur commented on #76
Well-spotted. In the case of `u_init = 0`, the denominator is set to 1 to avoid this DIV0 error, so relative change in upvotes is simply calculated as: `x=1+(u_final-u_init)/1 = 1+u_final`.

[2018-06-05 16:14] #76 closed, assigned to nobody

[2018-06-05 16:18] TwiN commented on #74
@jimbobur Sounds great! I knew you could find a better solution than me for that, that's why I made an issue out of this instead of making a PR directly.

However, by doing this, we're making the gap between the top 1% investors and the other 99% almost impossible to close. Maybe we should consider making a poll on r/MemeEconomy about whether we should reset the economy?

Unlike a real economy, we

[2018-06-05 16:24] TwiN commented on #75
@NelsonZC great idea, but investment is not poker.

Adding such a feature would be encouraging bad investment practices, even if they're just internet points.

We're trying to make the investment system as realistic as possible -- meaning that we (or at least, I) want to get as close as possible to this being a simulation.

[2018-06-05 16:28] TwiN commented on #8
@jimbobur was this added with the above commit?

On the index page, "top investors" section:

Shouldn't this issue be closed, then?

[2018-06-05 16:47] NelsonZC commented on #75
@TwinProduction understandable thanks for the feed back

[2018-06-05 17:02] thecsw commented on #75
Thank you, @TwinProduction. This is not poker to have all-in strategy. I will close the issue for now.

[2018-06-05 17:02] #75 closed, assigned to nobody

[2018-06-05 17:17] thecsw commented on #52
Hmmm. We will think about it. For now, the bot is operating normally and sometimes too fast because we hit the Reddit posting limits. We will examine this option!

[2018-06-05 17:25] thecsw commented on #49
Hey! Yeah, from the very beginning we were thinking about switching to go and maybe someday we will! We used threads because it was okay. Go concurrences are better and more optimized for CPU handling. Go is even more satisfying and fundamental, for me at least. Python just was right there when we needed him most. Go is really attractive

[2018-06-05 17:25] thecsw commented on #49
oops

[2018-06-05 17:25] TwiN commented on #49
@thecsw savage

[2018-06-05 17:25] thecsw commented on #49
@TwinProduction, you're fast

[2018-06-05 17:27] TwiN commented on #49
@thecsw `enter joke about not being as slow as Python here`

[2018-06-05 23:52] ometrist commented on #8
since so few people go bankrupt, can we close this issue whether it is solved or not @TwinProduction & @rickles42 ? I don't see much value in making a flair for those who go bankrupt since there are so few people who do, and they probably don't want to be shamed publicly. I also don't see much to gain in giving users a flair who have never gone bankrupt because almost everyone has never gone bankr

[2018-06-06 00:29] rickles42 commented on #8
Closing is fine with me as well - it's okay if the suggestion didn't get enough support to become a reality. And the !top command and website leaderboard do satisfy a bit of people's competitiveness anyway.

[2018-06-06 03:03] rickles42 commented on #49
Looks like @dzervas addressed this with commit b08cc973d05c8611eebd6ee548f8e20f25c84afe. Closing the issue.

[2018-06-06 03:03] #49 closed, assigned to nobody

[2018-06-06 03:37] rickles42 commented on #53
One thing that would help make the bot easier to launch from scratch would be consolidating environment variables and adding explanations for all of them. I opened Pull Request #72 to do just that if anyone wants to check it and merge.

By the way, does anyone have a full list of the steps for setting up and running the bot? Once all the necessary files are in ${VOLUME_ROOT}, does it just take a d

[2018-06-06 08:05] thecsw commented on #8
I talked with the mods of r/MemeEconomy. We can't do cosmetic rewards on reddit but we can do them on memes.market. When the database is rebooted, investors with >1bil will receive some cosmetic rewards for their first season. I will close this issue for now. Thank you!

[2018-06-06 08:05] #8 closed, assigned to nobody

[2018-06-06 10:50] thecsw opened #80 "Some website css and functionality"
Firstly, the search bar is a bit too high. At least for me.

Secondly, the search is working only when I press the arrow icon. Isn't more intuitive to press ENTER?

Thanks.

![deepinscreenshot_select-area_20180606144701](https://user-images.githubusercontent.com/16922860/41033760-a77e5dae-6998-11e8-9bef-e3b63ea11c6e.png)

[2018-06-06 11:56] robalb commented on #80
@thecsw The search bar thing is a bug. What browser on what device are you using? This search bar was already integrated in the nav in the first release of the website, before being removed. Did it have the same problem back then, if you noticed it?

[2018-06-06 13:04] thecsw commented on #80
I use chromium, lemme try with surf

[2018-06-06 13:06] thecsw commented on #80
Interesting, works nice with surf. Maybe just a browser issue?

![deepinscreenshot_select-area_20180606170617](https://user-images.githubusercontent.com/16922860/41039933-0143ff20-69ac-11e8-8485-21d9df6e807f.png)

[2018-06-06 13:11] robalb commented on #80
Yeah. Can you sen me your useragent data? Private chat if you prefer

[2018-06-06 13:26] TwiN opened #82 "Before economy reset"
I think that we should list everything that has to be done before the economy reset here.

We can't afford to reset the economy weekly, so we should make sure that everything is in place before.

Most importantly, we need to find a way to make the bot faster.

A slow bot means inaccurate investments (and angry investors), so while this is going to be hard to work around due to the API limitations,

[2018-06-06 13:35] thecsw commented on #80
How to do I do it exactly?

[2018-06-06 13:36] robalb commented on #80
Write `console.log(navigator.userAgent)`

In your browser console

[2018-06-06 13:38] thecsw commented on #82
Economy reset will happen once. For now. The market is bloated and we need to restart the whole game to make it fair.

There is not way because Reddit allows to make only 60 requests per minute and we maxed it out. This lead to an exception and the bot crashed. We are hitting Reddit limits! This applies if you mean the comment thread. What about calculations, we don't know. @jimbobur ran several t

[2018-06-06 13:39] thecsw commented on #71
Okay, for now.

[2018-06-06 13:39] #71 closed, assigned to nobody

[2018-06-06 13:59] robalb commented on #82
the only problem are reddit api calls. We can stop people from flooding the subreddit with commands by making harder to get a profit from risky investments, and moving all commands that are not !invest to the website. In case this isn't enough, are multiple bots erforming the same task allowed by reddit?

[2018-06-06 14:15] jimbobur commented on #82
Yeah, an investment return calculation is the order of 1-2 microseconds; as @robalb says, the reddit api calls are the bottleneck here. I like the suggestion of moving the commands. We could have !create !invest and active! on reddit and others could be moved to the website.
For example !help could be replaced by a link at the bottom of every bot comment that says something like "For a list of ava

[2018-06-06 14:27] TwiN commented on #82
There has to be something we can do (e.g. 2nd bot on a different server).

I suspect that this bot brings popularity to the subreddit, so there will definitely be more and more investors, which means that if we're having issues right now, it's not going to get any better.

I know the reddit api limitations is the problem here, but does that mean we should just acknowledge the problem and ignore it

[2018-06-06 14:33] jimbobur commented on #82
+1 on this idea.

[2018-06-06 14:33] robalb commented on #82
We can remove the !active command too, by showing the active investments on the website, next to the other user info.

[2018-06-06 15:05] rickles42 commented on #82
Before the reset I recommend two things:

1. Warn users for at least a day, maybe with a post from the bot.

2. In the posting, be sure to frame the reset as a reset, rather than a problem. Maybe like "Welcome to Season 2" or "Welcome to v1.0". Don't talk about it like "The problems got too much and we're resetting" because that sounds more negative and will likely invite negative reactions. Also

[2018-06-06 15:13] robalb commented on #82
we are going to market this as the end of the beta testing, and the beginning of a new, stable economy

[2018-06-06 15:15] rickles42 commented on #82
As for performance, I think first we need to do some meaurements of the current performance so we aren't just guessing at the right fixes.

1. What kind of command volume does the bot see over time?

2. What kind of request latency are users seeing? You could estimate this by measuring the time between when a command is posted and the time when the bot's response is posted. During peak volume, doe

[2018-06-06 15:22] rickles42 commented on #82
Thanks @robalb that sounds good. I see this message was recently added:

+WARNING! The system will be rebooted now. The whole market is bloated and biased. The formula will be changed. All accounts will be kept but their balances will be reset to 1000 MemeCoins. New formula can guarantee natural and fair investments, without billions and trillions in a couple of days. Investors with more than 1 bi

[2018-06-06 15:24] rickles42 commented on #73
I think I figured out how this can be accomplished with SQLAlchemy's `Base.metadata.create_all` function. Working on a fix for this issue today. Should make from-scratch setup much easier.

[2018-06-06 15:35] hipp013 opened #84 "Meme success should be determined by a time series, not by a comparison to initial vote count. (+other suggestions)"
_Let me start out by pointing out I'm an Economics major in university with an extensive background in statistical economics, not that this makes me an expert by any means; I just hope to establish some sort of credibility for my claims._

&nbsp;

## Preface

The investor bot could be a great tool to keep users active on the subreddit, _if implemented correctly_.

Let me ask you a question: do you

[2018-06-06 16:12] jimbobur commented on #84
I've been working on/fine-tuning a solution for this exact problem since Sunday; We're acutely aware of the effect it's had on the economy.

The investment capping ideas are interesting and also, in my opinion, a good idea for helping to further regulate the economy. A time series is also an interesting avenue of exploration, although it will depend on the feasibility of adding the extra overhead

[2018-06-06 16:16] robalb commented on #80
i added the enter key feature btw

[2018-06-06 17:26] rickles42 commented on #84
@hipp013 If you do clone the project, I think you'll quickly find it's difficult to figure out how to get started and launch your own test bot. I'm trying to alleviate that problem piece by piece, but for now I recommend looking at my branch [config](https://github.com/rickles42/memeinvestor_bot/tree/config) which has some configuration improvements and edits to the README for getting started.

[2018-06-06 18:17] hipp013 commented on #84
@jimbobur That certainly looks like an improvement over the current system. I obviously don't know what this new formula is, but at first glance, it looks like the return factor variable is brought to the power of some fraction of x so that the return factor is exponentially influenced by the size of the initial upvotes. If I'm right, great idea. If I'm wrong, then awesome idea.

One question: wil

[2018-06-06 18:21] hipp013 commented on #84
@rickles42 Thanks for the warning! Rest assured I have no intention of making a bot to test the math; your team is far more capable of creating a bot than I am, and I've seen the obstacles you guys have run into trying to get the bot fully functional. I'm a math guy, not a bot guy. :P

I only plan to take the calculation function and tinker with the code, supplying sample data in place of real use

[2018-06-06 19:37] jimbobur commented on #84
@hipp013

Yes, some of the devs are of the same opinion for more or less the reasons you've stated.

Looking back over the function, I think it was something carried over from when I was experimenting with the formula outside of the code before writing the calculation algorithm which could indeed be simplified to `x=final / initial`. Looking at some more up-to-date numerical messing around I did o

[2018-06-06 20:12] rickles42 commented on #84
My humble vote is for openness. We should preserve the algorithm as public knowledge. A well-designed algorithm can be resistant to manipulation, and keeping the algorithm secret would kill the chances of anyone spotting issues with it and improving it. For example, @hipp013's great analysis and involvement here would have been difficult or impossible if the algorithm had been secret from the star

[2018-06-06 23:44] ometrist commented on #82
@robalb
@rickles42

I'm more than happy to give up my high score even if there was no cosmetic reward, just to make the system more fair. I am curious though where these "cosmetic rewards" will show up? I thought r/MemeEconomy mods said no to flairs. If you want to show the cosmetic reward on the website only, you're probably going to have to include more usernames than just the top 5

[2018-06-06 23:48] ometrist commented on #74
@jimbobur

I've tried messing with the formula with no success better than what you've presented to me already, I'm gonna take myself out of the equation in creating a new investment return function. If you ever need an eye exam you let me know though, that's my area of expertise 👓 👀

[2018-06-07 00:09] rickles42 commented on #82
Assuming this hasn't been decided yet, I'll throw out the suggestion that the cosmetic reward is just a little thing added to the !invest response. For example:

[2018-06-07 00:19] TwiN commented on #82
@rickles42 @ometrist What if we added a store on the website that would allow users to buy cosmetic rewards (or perhaps some other stuffs) using MemeCoins? Perhaps that would garner a bit of interest from the investors?

@thecsw @robalb Perhaps we should cap the active investment per user to 3, which would incidentally loosen the amount of requests?

[2018-06-07 03:48] rickles42 commented on #73
Okay, I have a pull request ready for this that automatically initializes the database. But it's built on top of pending pull request #72. To reduce the chance of confusion I'll wait for #72 to be merged first.

[2018-06-07 04:00] dzervas commented on #73
Hit it

[2018-06-07 04:19] rickles42 commented on #73
Much appreciated!

[2018-06-07 05:52] NelsonZC opened #86 "Statue of limitations"
9 house after the command the bot finally replied. I can see this being a problem if someone invested and it took too long.
Proof: https://imgur.com/a/BiScB9g

[2018-06-07 07:11] rickles42 commented on #86
@dzervas Could this be a result of your switch from monitoring the subreddit comment stream to monitoring the bot's inbox? Specifically, if the bot is down for some time, then comes back up, will it work its way through old comments in its inbox?

[2018-06-07 09:21] jimbobur commented on #82
This could help.

[2018-06-07 09:27] robalb commented on #82
Maybe a little bit more than 3 investments

[2018-06-07 09:52] ometrist commented on #82
I was thinking 2 investments per user at a time, this way people choose investments more wisely, there is more risk, and it's less force on the bot. Maybe 3 investments but definitely no more

[2018-06-07 10:26] jimbobur commented on #82
Also, back at the beginning, the investment wait time was 6 hours; it's currently 4h. Perhaps making the investment wait time longer again would also ease the load on the bot.

I think the best strategy is gonna be a sensible balance of all these ideas.

[2018-06-07 13:18] dzervas commented on #86
Yes it is 😢
I’m almost sure it’s due to reddit API returning the newest and not oldest comments

[2018-06-07 13:43] hipp013 commented on #84
@rickles42

I agree that the best way to improve a product is to get accurate feedback from the most people possible. There are points for both sides, and I will support your side also. Open sourcing the math allows for _everyone_ to report bugs, not just a select few approved users; essentially, more eyes = more scrutiny = more improvement. Furthermore, should any new formula be flawed in any way

[2018-06-07 15:23] hipp013 commented on #86
Yeah, this actually happened today, someone invested around 300000 coins and had the investment go in hours later, causing them to lose about 178000 coins.

[2018-06-07 15:28] rickles42 commented on #86
Then I guess one quick fix would be to switch back from inbox-monitoring to comment-stream monitoring and restart the monitoring process. (Although if the bot has already finished processing its whole inbox, I guess that would make it current now.)

Longer term, we can reduce the latency of the bot with a variety of changes, but I still would like us to do some measurement first so we know more sp

[2018-06-07 15:35] hipp013 commented on #86
I would say even if you do switch back to comment-stream monitoring, maybe consider an additional check that cancels the investment if the !invest comment is over 60 minutes old.

[2018-06-07 15:37] dzervas commented on #86
The performance gain is way too high to go back...
I’m sure that reddit has a parameter to order them. I just don’t have the time right now to research it

[2018-06-07 21:18] rickles42 opened #87 "Reduce latency of bot replies"
After our conversation the other day about performance, I went ahead and did some rudimentary measurements. More work to be done of course, but this is a starting point.

**tl;dr**: We do appear to have a latency problem (i.e. the bot takes too long to reply to commands) but also there is some weird resetting pattern that I can't explain. There have been a variety of proposals to reduce latency, w

[2018-06-07 21:40] rickles42 commented on #52
I asked users about the tradeoffs of this decoupled approach and so far the response seems in favor:

https://www.reddit.com/r/MemeEconomy/comments/8pcrwp/about_the_delays_clients_connecting_via_oauth2/e0a8p3h/

[2018-06-07 22:19] TwiN commented on #87
@jimbobur might be losing his place as our professional graph maker now that @rickles42 made a graph of his own!

Jokes aside, I have also noticed something similar to your observations. I don't think that the bot hitting Reddit's API is the only reason why the bot is slow.

[2018-06-07 23:16] rickles42 commented on #87
Haha watch out @jimbobur my ugly Excel graphs are gonna steal your throne! /s

@TwinProduction It's possible you're right. We would need some detailed tracing to know for sure -- maybe print out precise timestamps at each stage of command processing so we can see where processing is getting blocked the longest. I still think we're just way maxing out the Reddit API limit, so PRAW calls that do API

[2018-06-08 02:53] rickles42 commented on #86
I've made a quick fix to ignore stale requests (i.e. requests older than a certain threshold). That will prevent more people from getting screwed by the slow bot.

Long term, of course, it would be best to improve throughput so that all commands can be processed within a minute or two. We're working on that separately.

[2018-06-08 03:23] rickles42 commented on #87
Okay I've thought about this data some more and examined the code, and I think I have a better understanding of what's going on.

It's a bit complicated to explain in text but **tl;dr** the bot is definitely not keeping pace with demand (at least during these hours) but it's not actually getting slower over time as I suggested above.

**Details**: The triangle shapes aren't really a case of the bo

[2018-06-08 04:23] DaliTimelord opened #89 "Investors can make profit from posts with 0 upvotes"
This is not a _serious_ issue, but it does raise some concerns on how powerful a single vote can be and how it affects profits.

Given the current state of the algorithm, there is relatively no risk in investing something with 0 score, because it can't have a lower score than that. You only lose profits if a post doesn't gain score or only has a lower score after you've invested.

This means that

[2018-06-08 04:26] DaliTimelord commented on #89
Edit: Calculation part is in memeinvestor_bot/src/calculator.py:

[code]

[2018-06-08 09:34] jimbobur commented on #89
Hi, thanks for your input, we are aware of this issue and a solution has been in active development since Sunday. Please see comments on issues [#74](https://github.com/MemeInvestor/memeinvestor_bot/issues/74) and [#84](https://github.com/MemeInvestor/memeinvestor_bot/issues/84#issuecomment-395425035).

[2018-06-08 09:34] #89 closed, assigned to nobody

[2018-06-08 10:19] jimbobur commented on #87
@TwinProduction @rickles42 I'm gonna step my game up and start drawing graphs by hand in the style of a Jackson Pollock painting

![image](https://user-images.githubusercontent.com/34943023/41153106-b354861e-6b0d-11e8-917e-6b999b5bfa35.png)

[2018-06-08 10:30] thecsw commented on #80
Yeah, saw that! Thanks!

[2018-06-08 10:30] thecsw commented on #80
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.79 Safari/537.36

[2018-06-08 10:35] thecsw commented on #53
Okay, #72 closes this issue. Thanks for your contribution!

[2018-06-08 10:37] thecsw commented on #74
This formula is a bit outdated now. Similar issue #84 can help you. Thanks.

[2018-06-08 10:37] #74 closed, assigned to nobody

[2018-06-08 16:12] rickles42 commented on #53
@thecsw Please re-open this issue; I don't think it's fully resolved yet. (And I can't figure out how to re-open it myself haha.)

A couple tasks left before I would say running the bot is truly friendly to new contributors:

- Need to remove dependency on ${VOLUME_ROOT} or else have @dzervas provide instructions for populating it

- Basically, make it so that literally the only thing someone need

[2018-06-08 16:31] rickles42 commented on #86
@thecsw @NelsonZC I believe this issue can be closed now that @thecsw merged #88 (assuming he rebooted the bot to use that merged code, of course). The bot should no longer process requests older than 15 minutes.

[2018-06-08 17:48] rickles42 opened #90 "Prevent investing in stickied posts?"
When a r/memeeconomy post is stickied, the submitter agent still makes an Invest Here! comment and people are able to invest in the stickied post. But since these posts are not usually memes, that means people are investing in something that's not a meme! Up to you guys, but maybe we should ignore stickied posts.

[2018-06-09 01:30] rickles42 commented on #87
More data! Today I recorded every request made to the bot. Here's the breakdown:

![untitled](https://user-images.githubusercontent.com/81503/41186254-605636d4-6b48-11e8-8456-0cc8496f3f11.png)

(Valid requests made to the bot between 11AM-5PM PST today.)

**Conclusion**: We've been talking about getting rid of some of the commands and moving functionality to the website. Well, the only one it migh

[2018-06-09 01:34] rickles42 opened #91 "Include updated balance in investment results posts"
Today we tell users how many MemeCoins they gained/lost. If we also (or instead) told them their new balance, we could save users some mental math or a !balance request.

[2018-06-09 03:03] ometrist commented on #91
I'd also add that if a person doesn't have enough MemeCoins for an investment, then instead of saying something like 'you do not have enough MemeCoins for this investment'

the bot can add in the user's current balance & active investments so that the user doesn't give the bot more commands in response?

[2018-06-09 07:05] rickles42 commented on #87
I've made some more charts from today's activity (11AM-5PM PST today).

Below, each thin bar represents the number of valid user _requests_ posted during that sixty-second period. Over the whole six hours, there were 2867 requests, for an average of **8.0 requests per minute**:

![requests](https://user-images.githubusercontent.com/81503/41188743-2eff80d4-6b77-11e8-9230-2511ec2a4769.png)

The char

[2018-06-09 07:17] dzervas commented on #53
the VOLUME_ROOT is an empty directory. could be anywhere. You can default it to a got ignored non existing folder in the repo.

[2018-06-09 09:37] rickles42 commented on #87
During this six-hour period I recorded 182 unserviced requests (i.e. requests that didn't get a response). Here's roughly where they are:

![unserviced](https://user-images.githubusercontent.com/81503/41190106-94f478fc-6b8d-11e8-8a10-c8c2efad4fe2.png)

(Don't worry, the dark bits don't mean the bot was missing _all_ the requests. Just more than at other times.)

182 dropped requests over 6 hours i

[2018-06-09 21:11] TwiN opened #95 "Bot ignoring active transactions after 4 hours"
#88 introduced a pretty big bug.

One of my investment was not processed at all after 4 hours.

![](https://twinnation.org/api/screenshots/2018-06-09_170928.png)
[direct link](https://www.reddit.com/r/MemeEconomy/comments/8psdey/quick_investment_buy_and_profit/e0dnfr3/?context=3)

It's fine to ignore old `!invest` commands, but active investments should not be ignored.

At worse, updating the bot'

[2018-06-09 21:19] thecsw commented on #95
That's the problem of inbox. You see, when we loop with stream comments generators, everything is in chronological order but inbox does something really weird. When you have 100 new inbox messages and you go through them. praw doesn't just make a queue and add the new messages to list, it just uses stack so if we have a huge number of messages, bot will miss the old ones. I think we should go back

[2018-06-09 21:20] rickles42 commented on #95
Just to clarify, this issue is _not_ being caused by #88. The `calculator` agent was unchanged by that, and this is an issue with the calculator not spotting these matured investments or something. Change 88 only affects the initial processing of the `!invest` command.

[2018-06-09 21:25] rickles42 commented on #95
@thecsw I don't think this is a problem with inbox, either. It looks like `bot` recognized an `!invest` command and responded to it, which is the only part that bad inbox handling would break (I think).

The problem is that either `bot` failed to add a new `Investment` to the database, or that it did add one, but something went wrong with `calculator` and it either couldn't pull out the investment

[2018-06-09 21:33] ghost commented on #95
I confirm that this happening to me as well. It's been 9 hours. I went all in and the bot still shows my balance as 0 and still says I have 1 active investment so it has definitely registered the investment.

[2018-06-09 22:05] Ex-Ex-Parrot commented on #43
Should something of this nature be implemented what would be the impact in the future if there are market leaders dominators?

The only thing that makes sense to me personally, is that should OP's post be successful- the returns back to OP should be based off his/her current balance.  Should it reach a point where there are individuals investing million/billion/+ any small percentage of gain on th

[2018-06-09 22:17] Ex-Ex-Parrot commented on #95
I will admit I've noticed quite a few people are concerned that their investments won't go through/lost in an attempt to reach the billion point before the economy resets.

Any word on the balances updating? That way I can reach out to or assure anyone on the subreddit I notice asking about it.

Admittedly I went all-in to try to reach the quintillion so I certainly don't fall into this catagory l

[2018-06-09 23:05] ghost commented on #95
Maybe it has to do with the reset comment footer?

[2018-06-09 23:10] ometrist commented on #43
@Ex-Ex-Parrot I see why you'd be concerned, but i'm sure you wouldn't mind giving ≤ 1% of investments (or ≤ 1% of winnings), you could even make it 0.1%. Considering where the new function is likely headed, maximum investment amount allowed or maximum return % allowed, I don't see the economy ever reaching a point where there are only a couple people who own 99% of the market anytime soon.

If tha

[2018-06-10 00:01] Ex-Ex-Parrot commented on #43
@ometrist

Sorry if my sentences are a bit goofy, on my phone posting now. It's not that I or anyone would have a problem giving a small amount, even fraction at that, to OP for content posted/investment returns I have the problem with. It's that later in the market it becomes a problem that anyone starting out is better off posting instead of investing since even fractions of hundreds of thousand

[2018-06-10 00:39] ometrist commented on #43
x 10  lol

I see what you're saying now though about it being way bette to post content than ever !invest if you're just starting out. If we over-encourage people to post memes over !investing, then we're setting ourselves up for a subreddit full of garbage posts, which benefits nobody.

Rewarding OPs based on their current balance could be the solution, or maybe we can set up a cosmetic reward sy

[2018-06-10 13:17] PseudonymPatel commented on #95
what if we had a dictionary, and every time someone made an investment:
1. it would add a link or reference to that person’s entry in the dict, along with a time
 Ex. `{”username” : (“reddit.com/comment/...”, x), “user2” : (“reddit.com/comment/2...”, y), ...}` where x and y is time (GMT) when user invested.
2. then every z amount of time (maybe 5 minutes), it would iterate over the dict to see wha

[2018-06-10 14:30] TwiN commented on #95
## Update

After 20 hours, the comment has been updated and my MemeCoins are in.

Though we might still want to consider the following:

[2018-06-10 19:45] rickles42 commented on #95
This was addressed with #96. The `calculator` agent was choking on his really big transactions and not getting to anyone else's transactions. We updated `calculator` to skip his transactions and overnight it went through and processed them all.

[2018-06-10 19:45] #95 closed, assigned to nobody

[2018-06-10 19:50] rickles42 commented on #95
@PseudonymPatel What you described is actually pretty much how the transactions are stored and processed today! Only instead of a dictionary, we are using an external database, which makes it easier to persist transactions between upgrades of the system.

Essentially, every time the `bot` agent processes a `!invest` command, it adds a row to our Investments table, which includes the name of the us

[2018-06-10 19:51] #86 closed, assigned to nobody

[2018-06-11 02:25] TwiN commented on #82
@thecsw Last week I contacted a Reddit administrator whose name I will not disclose for privacy reasons, here's what I sent:

And here is what he replied today

With that in mind, we do have a few more options now. We know that we could tweak with praw's settings to change the limits (I think I read somewhere that you could configure praw to go past the default limit, but I'm not sure where).

[2018-06-11 08:22] thecsw commented on #80
Thanks!

[2018-06-11 08:22] #80 closed, assigned to nobody

[2018-06-11 08:30] thecsw commented on #87
Oh boy, I love graphs. I will touch myself tonight~~, kidding. Very nice! We have the issue, however I think the issue will be resolved because of the reboot. Users would stop uncontrollably investing in memes. I wait for a decrease in number of requests per hour.

[2018-06-11 09:54] robalb commented on #80
So it's fixed now?

[2018-06-11 10:13] robalb commented on #90
Stickied posts never get more than 100 or 200 upvotes, investing in this kind of posts won't be beneficial with the new formula

[2018-06-11 21:29] rickles42 commented on #90
You're probably right. But even so, do you think it's nicer if the bot is "pure" and only allows people to invest in memes, or is it fun/funny to have people be able to invest in stickies?

[2018-06-11 21:32] rickles42 opened #98 "Add bot health monitoring service"
We should have a service that can watch the bot's behavior and detect certain problematic patterns.

Possibilities include:
 - Detect when one of the service containers is crashing/restarting
 - Detect when the bot has stopped replying to requests
 - Detect if the bot's latency is getting high (large numbers of requests are aging past the 15 minute statute of limitations)

Maybe status could be di

[2018-06-11 21:46] rickles42 opened #99 "Bot should gracefully handle SIGTERM so it can be stopped without disrupting in-progress requests"
(This is a longer-term change, not necessarily high priority.)

As currently architected, if we run `docker-compose stop bot` it just straight up kills `main.py` wherever it happens to be in the code. This could happen in the middle of handling a request, which means we could potentially have replied to a user but not updated the database, or other funky situations.

A better approach would be to

[2018-06-11 21:49] rickles42 opened #100 "Make it easy to quickly capture a backup of the live database"
We should be in the habit of backing up the live database every time we make a major change to the bot. We should make that as easy as possible (maybe just a script that can be run from the server, or maybe a service that automatically captures periodic backups).

[2018-06-12 08:11] thecsw commented on #90
Okay, I will work on this.

[2018-06-12 08:12] thecsw commented on #82
Hey, I have some questions for you, add me on telegram @thecsw

[2018-06-12 08:14] thecsw commented on #98
Maybe we can make a bot on telegram that will report all of this? If so, I can do it. But firstly, I need some tools, triggers that will notify if something happened.

[2018-06-12 09:55] rickles42 commented on #98
I'm positive we can find a way to integrate with Telegram or Slack.

[2018-06-12 09:57] rickles42 commented on #100
mysqldump may be all we need for this...

[2018-06-12 15:28] #90 closed, assigned to thecsw

[2018-06-12 16:32] #91 closed, assigned to thecsw

[2018-06-12 21:35] nickmahdavi commented on #99
What exactly do you mean by "brought down... without disturbing in-progress requests"? Do you want the bot to be able to process requests while modifying in real-time? Or do you want the bot to finish handling the requests, clean up, and shut down while modifications are ongoing?

If you want the latter, you could consider building in a separate stage of the bot for startup/shutdown. Include `dock

[2018-06-12 21:50] nickmahdavi commented on #84
Just leaving my thoughts here, feel free to respond.

**1. Investment cap is flawed**

To put a hard cap on the amount of coins per post is, in my opinion, a **bad idea**. Consider a user that has grinded to get to 1,000,000,000 coins. 50,000 coins, even with an unbalanced formula that gives inflated returns, will return _nearly no profit at all, compared to the total amount of coins_.

I propose,

[2018-06-12 21:58] nickmahdavi commented on #52
Perhaps consider decoupling these processes into _two_ bots? I can understand if this would be troublesome and too hard to work with. But if the latency problems end up having to do with the reddit APIs and the fetch limits, you could have the bots work together. Have one bot scrape MemeEconomy (read) and the other post (write), saving requests and speeding up the process.

This could prove troubl

[2018-06-12 21:59] rickles42 commented on #99
I believe I'm talking about your latter point. I'm talking about being able to shut down the bot without interrupting a request mid-processing. It's okay if requests get delayed for an extra minute or two while we bring up the replacement bot.

If I understand you correctly, I think you nailed the right approach--basically we need to add a check to the `main.py` main loop that checks for terminati

[2018-06-12 22:01] nickmahdavi commented on #98
I see that logging has been incorporated into the bot's functions... perhaps build this directly into the bot itself, have it report back in real-time?

[2018-06-12 22:07] rickles42 commented on #84
@qwertios said:

Thanks for your kind offer! Everyone is encouraged to fork the repo and submit a pull request with fixes to any of our issues (or to any new issues you find or enhancements you care to make). Or if you aren't familiar with git/GitHub, feel free to just send me some code and an explanation, and we can review the code offline.

[2018-06-12 22:10] rickles42 commented on #52
@qwertios What you describe is technically possible, but Reddit's rules discourage that behavior. It's a little bit of a gray area, but the idea is that every bot should keep its Reddit requests to a certain volume. Simply redefining our bot as a collection of bots _would_ increase our total allowed volume of Reddit requests, but I think it goes against the spirit of Reddit's API rules.

[2018-06-12 22:27] rickles42 commented on #84
@jimbobur is continuing to experiment with a revised returns formula. We're still trying out different ideas but we're seeing promise in an approach that mimics small-cap/mid-cap/large-cap stocks. It makes low-upvote memes high-risk/high-reward (like penny stocks) and already-established memes a safe but not-very-profitable bet.

[2018-06-12 22:30] nickmahdavi commented on #99
I do have a few concerns about this, though- if the bot has separate "fetch", "compute", and "post" function, killing the "main" function might not sleep the entire process, only the thread. There are workarounds for this, of course; I'm just leaving this here so that no problems are encountered later.

[2018-06-12 22:56] rickles42 commented on #99
You're right that we need to be careful about terminating just one part of the bot, because it could have impacts on the other parts. Fortunately, we've already designed this bot to be run as a group of _loosely_ connected pieces which are (mostly) capable of running independently without causing problems. This means we can kill one piece and replace it with an updated version without causing majo

[2018-06-13 00:18] rickles42 opened #105 "Make chart dates more universal"
Easy tweak:

Currently, the dates on the website's investment chart go like: `8/6`, `9/6`, `10/6`. As a [silly American](https://en.wikipedia.org/wiki/Date_format_by_country) this confuses me because I expect dates like `6/8`, `6/9`, `6/10`.

Requesting that we localize the chart dates, or at least update them to something slightly more intuitive for those visitors like me: something like `8 June`

[2018-06-13 08:12] #73 closed, assigned to nobody

[2018-06-13 10:11] thecsw opened #107 "Add a new column "Profit" in "Investments" table."
It would be nice if every row in "Investments" table had a final investments return result.

For example, +100 or -400 MemeCoins.

[2018-06-13 16:30] nickmahdavi commented on #99
@rickles42

I'm not experienced in Docker, so I'm not quite sure how this is supposed to work. Does Docker allow you to pass signals to files while they're running, i.e. start and stop different scripts? If yes, then this should be very easy.

If not, there's a problem here, because it looks like some kind of external signal would be needed to start a shutdown function that cleans up. The stackexc

[2018-06-13 18:35] rickles42 commented on #99
@qwertios

Docker is a complicated beast, but yes, when we run `docker-compose stop bot` it sends a SIGTERM to the container running the `bot` service, and Python forwards that signal to the script running inside it (`main.py` in this case). So as you say, it should be easy to catch that signal within the script and exit the main loop gracefully. That's why I tagged this as a "good first issue"--y

[2018-06-14 04:21] #99 closed, assigned to nobody

[2018-06-14 05:21] rickles42 opened #109 "Add some time logging so we can see how long each request takes"
I think `main.py`, which handles incoming Reddit requests, should include some timing measurement and logging so that we can tell how long each request takes. Might be useful for improving performance.

To start with, we could just measure the time each iteration of the inbox `for` loop takes, and log it.

I'm also not sure what the right timing mechanism to use is.

[2018-06-14 16:17] rickles42 opened #110 "The website's Investment Calculator should call into the app instead of re-implementing the formula in JS"
Per suggestion by @thecsw, the `api` service should expose a method to compute the return given a set of parameters. This way, tweaks to our formula will automatically be reflected on the website.

[2018-06-14 16:39] rickles42 commented on #109
Initial experiments pushed to the `perf` branch of my fork

[2018-06-15 16:35] rickles42 commented on #109
I'll recap what I've learned from my experiments:

* BY FAR the majority (probably >99%) of `main.py`'s time is spent sleeping, waiting for PRAW calls to return. This is normal, and this is because PRAW automatically sleeps callers so that it can keep them underneath the Reddit API call rate limit. Database operations take mere hundredths of a second, and all the rest of the python logic is simila

[2018-06-16 09:12] #109 closed, assigned to nobody

[2018-06-17 03:11] #110 closed, assigned to nobody

[2018-06-18 00:17] rickles42 opened #117 "Make insider-trading enforcement, mod stickifiying, and investment duration configurable in .env"
This would make it easier to test the bot on the test subreddit without having to make code changes.

[2018-06-18 09:28] rickles42 commented on #117
Working on this myself

[2018-06-18 16:27] rickles42 opened #119 "Calculator.py should query the database less furiously"
I don't think it's actually causing any problems, but I noticed that `calculator.py` is checking dozens of times per second for investments to mature, which is clearly overkill. It should probably sleep for a little bit between checks, or (more complicated) look up when the next investment will mature and sleep that long.

[2018-06-19 08:59] rickles42 opened #121 "Inbox reading is making too many Reddit API calls"
When we changed from

`for comment in reddit.subreddit('+'.join(config.subreddits)).stream.comments(skip_existing=True):`

to

`for comment in reddit.inbox.unread(limit=None):`

we switched from a "streaming" method to a regular querying method. The difference is that `stream.comments()` has automatic backoff logic---if Reddit returns no new comments, it waits a bit longer before asking Reddit aga

[2018-06-19 15:52] rickles42 opened #122 "Bot should not process mentions"
Reported by genericusername123

The inbox doesn't just contain comment replies and direct messages--it also contains mentions. Since I removed the `.parent()` check, the bot will currently process any commands in a mention, even from other subreddits.

We could fix this by putting the `.parent()` check back in or by testing for the bot's name in every processed comment, but I think the best way is

[2018-06-19 16:49] rickles42 commented on #87
Pull request #123 should also help with this by saving Reddit API calls

[2018-06-19 17:02] rickles42 commented on #53
Even though a dummy bot that doesn't require Reddit access might still be convenient, I think the whole project is now fully deployable locally, from scratch, by only cloning and editing .env.

[2018-06-19 17:02] #53 closed, assigned to rickles42

[2018-06-19 21:33] #122 closed, assigned to nobody

[2018-06-19 21:33] #121 closed, assigned to nobody

[2018-06-20 01:24] #117 closed, assigned to rickles42

[2018-06-20 01:46] rickles42 opened #124 "Unused invest_again_org in messages.py"
Looks like @thecsw added the `invest_again_org` string to `messages.py` at one point as part of a feature to prevent users from having more than one active investment in a given meme. But since then, the feature to enforce it has been removed. If intentional, we should also remove the message. If accidental, we should put the enforcement logic back.

[2018-06-20 12:30] thecsw commented on #124
Hmm, yeah. I just want to know, should we keep the feature or should I just remove it completely? The formula is going to be a bit more difficult and users should not be able to abuse it.

[2018-06-21 01:47] rickles42 commented on #124
I think we should just remove the feature. Like you say it doesn't seem like a major target for abuse.

[2018-06-21 07:50] rickles42 opened #128 "Refactor main loops and try/catch blocks"
Right now we have a lot of `try/catch` blocks here and there that tend to swallow up exceptions too aggressively instead of letting them bubble up to the outer loops. We should also use `finally` to ensure that DB sessions are always closed. (Maybe we can use `with` instead.)

[2018-06-21 07:56] rickles42 opened #129 "Ensure database operations are completed and successful before replying to requests"
Right now some of the request handlers reply to the user before all the relevant database operations have occurred. If a database operation fails, or if some exception is raised after replying that causes the `session` to roll back, that would mean we've told the user something happened when in reality it did not.

[2018-06-22 05:44] thecsw commented on #124
Okay, I will make a pull request.

[2018-06-22 06:48] thecsw commented on #87
Okay, I will close this then. We are actively working on this issue and multiple solutions have been implemented.

[2018-06-22 06:48] #87 closed, assigned to nobody

[2018-06-22 06:54] rickles42 commented on #87
I'll re-run some latency analysis once the bot is back under full load, and we'll see if we've improved throughput enough to keep up with demand.

[2018-06-22 06:56] #124 closed, assigned to nobody

[2018-06-22 07:00] thecsw commented on #100
Maybe we can set up adminer that can export everything in `.sql`?

[2018-06-22 07:02] thecsw commented on #119
#127 closes this issue.

[2018-06-22 07:02] #119 closed, assigned to nobody

[2018-06-23 06:34] thecsw commented on #128
Good idea

[2018-06-23 06:35] thecsw commented on #100
Okay, I think we know what to do, closing this for now.

[2018-06-23 06:35] #100 closed, assigned to nobody

[2018-06-25 22:53] DaliTimelord commented on #105
Year Month Day for the ultimate disambiguation?

[2018-06-25 23:16] rickles42 commented on #105
https://xkcd.com/1179/ 😄

[2018-06-27 20:51] rickles42 opened #132 "Reduce or eliminate external hyperlinks from bot replies"
Based on the admin response to my support request, posting lots of external hyperlinks may have contributed to the banning. So we should make sure the bot doesn't link to memes.market in every reply. Maybe just limiting it to the "make your investments here!" comments and replies to the !help command.

[2018-06-27 22:50] robalb commented on #105
As a silly european i really liked dd-mm, but ok, i guess something like `6 jun` `23 sept` can be more intuitive

[2018-06-28 15:10] #132 closed, assigned to nobody

[2018-06-30 02:41] TwiN opened #137 "What's up"
What's going on?

Everything completely stopped moving forward. Unless the bot gets back online, we won't be getting more people into this project -- even we are forgetting about it.

[2018-06-30 02:46] rickles42 commented on #137
Hey there @TwinProduction! We're definitely still hard at work--if you check out the project [network page](https://github.com/MemeInvestor/memeinvestor_bot/network), you'll see there's a lot of activity. We're just mostly working in branches now instead of directly in `master`, like good devs 😄 . So maybe it doesn't show up as much.

My goal is to finish our rework and get the bot back up and run

[2018-06-30 03:22] rickles42 commented on #100
@thecsw For future reference the typical behavior is to leave an issue open until the PR that fixes it has been merged into the main branch. If you're worried about someone else seeing the issue and accidentally wasting effort fixing something you're already working on, then you can just leave a comment in the issue conversation calling dibs 😄

[2018-06-30 04:47] #107 closed, assigned to nobody

[2018-06-30 08:21] thecsw commented on #137
Yeah, we were working on isolated branches instead of pushing directly to master.

[2018-06-30 08:36] thecsw opened #140 "The website's github button needs fixing."
If you click on it, it leads to my personal project fork instead of organization's repo.

[2018-06-30 08:47] rickles42 commented on #137
@TwinProduction We just officially completed the re-launch! Huzzah!

[2018-06-30 08:47] #137 closed, assigned to nobody

[2018-06-30 08:53] #82 closed, assigned to nobody

[2018-06-30 09:08] rickles42 opened #141 "Bot drops a command when there is too much inactive time between commands"
Whenever `bot` goes too long without querying the database, we see an error log message like this:

[code]

I think this has to do with how SQLAlchemy manages its pool of connections to the database. If those connections aren't used, they time out. This means the next time `bot` _does_ try to use the db, the operation fails. Usually that means the bot never reacts to the dropped command.

[2018-06-30 09:54] #140 closed, assigned to nobody

[2018-06-30 10:34] #141 closed, assigned to nobody

[2018-06-30 10:44] rickles42 commented on #141
The cause seems to have been that the Docker container for MariaDB sets a very low `wait_timeout` value of ten minutes (see [this issue](https://github.com/docker-library/mariadb/issues/113) from their GitHub), which means that the connections SQLAlchemy spins up will expire if they aren't used every 10 minutes. I fixed this by telling SQLAlchemy to recycle its connections every 1 minute, which ke

[2018-06-30 10:53] thecsw commented on #141
Awesome!

[2018-06-30 12:08] TwiN commented on #137
@thecsw @rickles42 Oh, my bad! I completely neglected looking at the branches. I'm glad the project is still ongoing.

As soon as I'm done moving out/painting my new appartement, I'll jump right back in!

[2018-06-30 20:43] rickles42 opened #145 "Leaderboard should report top users by net worth, rather than current balance"
Currently, the leaderboard on the website and the `!top` command report the investors with the highest balance. This doesn't account for someone who has a lot of MemeCoins but has them all currently tied up in investments (i.e. that investor's net worth). Thus, when a leader makes a big buy, they drop off the leaderboard temporarily. It's like looking at someone's checking account instead of their

[2018-06-30 21:04] rickles42 opened #146 "Cosmetic reward for Beta Billionaires"
We need to finish planning this and implement it so they can bask in their prestige!

[2018-06-30 21:18] rickles42 opened #147 "Bot is unhelpfully silent if someone tries to !create but already has an account"
I'm seeing a nontrivial number of people who think they probably need to `!create` a new account now that the beta is over. They make a request, the bot ignores it and never replies.

The bot should probably just say something like "You've already got an account."

[2018-06-30 21:45] #147 closed, assigned to rickles42

[2018-06-30 21:50] robalb commented on #146
right, i'll start working on it

[2018-06-30 21:57] robalb opened #149 "Make !create optional"
!create and !broke are not necessary, when someone invests for the first time the account can be created automatically, and also the recovery after a bancruptcy can be done automatically. By doing this the bot could save on some api calls

[2018-06-30 22:12] rickles42 commented on #149
Hmm, you're technically right that these could be made automatic, but I'm not sure what behavior makes the best game. For example I don't think I like the idea of _automatically_ going through bankruptcy--I think it takes some of the emotional impact out of it. But creating an account probably makes sense to do automatically.

[2018-06-30 22:15] rickles42 commented on #146
Which approach(es) should we take? I remember the following proposals:

1. Put something on their memes.market profile and/or next to their name in the memes.market leaderboard.

2. Make a dedicated Hall of Fame on memes.market and add them to it.

3. Add some inline content to the bot's Reddit responses to them (like an emoji or something, sort of like flair).

[2018-06-30 22:26] robalb commented on #146
if we are planning to do other market resets in future, we could make a wall of fame page with the best traders of all the past seasons. Otherwise something on their names on memes.market (maybe also in the bot responses) would be very easy to implement

[2018-06-30 22:44] jovialis opened #150 "User can declare broke when they shouldn't be able to"
The bot recognizes that a user has 0 balance and declares them broke, even if they currently have active investments.

This could likely be resolved by ensuring the user has 0 open transactions before granting them their bankruptcy loan.

Hi Slackbot!

[2018-06-30 22:58] rickles42 commented on #150
@cdh-dev I know I said I agreed with you earlier that this was a problem, but now that I look at the code I think we already check for open transactions like you suggest:

[code]

You should double check me though. That's in the `broke()` method in `main.py`.

[2018-06-30 23:03] jimbobur opened #151 "Bot reply comment update should also state the final upvotes after 4 hours"
Since the post may well grow further after the investment reaches maturity, it would be helpful for the user to see how many upvotes it had after the 4 hours was up.

[2018-06-30 23:18] robalb commented on #149
Hey what about making the bancruptcy operation on a dedicated page on the website? when you go bancruptcy, the bot answer to your investments could be: you don't have enough moneys, recover your account on memes.market/bancruptcy/?u=USERNAME. and on the page we can make a big button or something like that. Since a bancruptcy recovery is not a dangerous operation, we can make apis for it without re

[2018-06-30 23:42] #105 closed, assigned to nobody

[2018-07-01 00:02] rickles42 commented on #151
Good idea!

[2018-07-01 00:06] rickles42 commented on #146
I like the hall of fame idea, and I think there's a reasonable chance we'll want to reset the scores again in the future.

[2018-07-01 02:13] jovialis commented on #146
I say we give them a super fancy flair and give them a hall of fame page on the website. Give them each the option to write a silly/goofy blurb about themselves and why they're on the hall of fame, and maybe something else.

[2018-07-01 08:54] rickles42 commented on #150
@cdh-dev I'm closing this issue, but feel free to double check my claim above and I'll re-open if I've missed something.

[2018-07-01 08:54] #150 closed, assigned to nobody

[2018-07-01 09:01] jimbobur commented on #146
@rickles42 I like all three of those ideas!

[2018-07-01 09:05] rickles42 commented on #146
Okay it sounds like most folks are in favor of a Hall of Fame at least, so I think @robalb should go ahead and start on that. We can add more rewards later if we feel like it's necessary.

[2018-07-01 09:52] Zonico6 commented on #149
Hey guys, I think too that it would be a great idea to neglect !create, however I think that the !broke is a really good solution since it's not the end of the world but you still need to take some action and foremost publicly accept and admit your bankruptcy. I personally would be a little intimidated by an hyperlink and links on mobile are annoying too.
What would you guys think about a penalty

[2018-07-01 18:18] rickles42 opened #154 "Allow users to spend MemeCoins on cosmetic upgrades"
Like the MemeEconomy equivalent of a skins shop. Let's collect ideas for things people might want to buy with MemeCoins.

[2018-07-01 19:13] jovialis commented on #154
From chat:

- Radical emoji flair
- Pirate speak bot banter

[2018-07-01 19:13] rickles42 commented on #154
Some ideas:

- Bot flair in bot responses to you, or near your username on the website
- Get the bot to respond to your requests in a different way (pirate-speak, or meme-speak, or just emojis)

[2018-07-01 19:29] rickles42 opened #155 "Bot should handle locked comment threads gracefully"
In the current design, if someone has used `!invest` on a post that later gets locked, then the bot gets stuck when it comes back in 4 hours and tries to update their investment (it can't because the comments are locked).

The bot should not get stuck on these cases. It should either process their matured investment and just not reply, or it should drop the investment altogether (perhaps refund th

[2018-07-01 22:09] simon--poole opened #156 "Bot incorrectly calculated profit/loss, or am I being dumb?"
For example:

* 250 invested @ 2 upvotes. 6 hours later - 35 upvotes. [Loses 125](https://www.reddit.com/r/MemeEconomy/comments/8vanyq/simple_yet_effective_new_format_invest_now/e1lugii/?context=3&utm_content=context&utm_medium=message&utm_source=reddit&utm_name=frontpage)
* 250 @ 2, 6 hours later - 7. [Loses 185](https://www.reddit.com/r/MemeEconomy/comments/8vanyq/simple_yet_effective_new_format

[2018-07-01 22:27] rickles42 commented on #156
Hey @simon--poole, thanks for reaching out. You're definitely not being dumb, but it does look like the bot is behaving correctly. You're just running into the new "high risk/high reward" behavior.

To be more specific:

 - If you invest at 2 upvotes, the meme needs to hit 45 total upvotes in four hours for you to break even.

 - If you invest at 18 upvotes, the meme needs to hit 65 total upvotes

[2018-07-01 22:27] #156 closed, assigned to nobody

[2018-07-01 23:46] robalb commented on #155
This behaviour should be also applied to deleted threads

[2018-07-02 01:17] rickles42 opened #157 "Website sometimes passes NaN to the calculate API"

[2018-07-02 07:57] #151 closed, assigned to nobody

[2018-07-02 09:29] thecsw commented on #149
A very nice issue. I'm okay with adding automatic create when investing for the first time. Also, automatic bankruptcy takes out the emotions from the operation, so I would leave the command to manually declare bankruptcy. Also, as @Zonico6 pointed out, it would be sweet to add some kind of a `broke` command cooldown.

[2018-07-02 12:16] robalb commented on #154
i'm working on the user page on the website: when it's done, but this can also be made on the app, we can make a section that shows all the cosmetics the user buyed and a shop page. When the user buys something or apply a cosmetic, the app/website sends a pm to the bot. there is no need for the bot to reply since the app can check if the command worked by polling the user's cosmetic section on the

[2018-07-02 20:36] eleeve opened #163 "Irrational logic with memes becoming normified"
When a meme becomes normified and a post explaining it is posted to meme economy, you can still invest in it and if the post gets many upvotes the bot will think it is a successful investment, but in reality it is not. This feels irrational.

[2018-07-02 20:40] rickles42 commented on #163
Hi @eleeve, thanks for the feedback. Can you post a screenshot or link to a couple examples of what you're talking about? There may not be any way for the bot to distinguish actual meme templates (which people should be able to invest in) from discussion posts (which people should not be able to invest in). But an example or two could let us take a look.

[2018-07-02 20:58] eleeve commented on #163
This post https://www.reddit.com/r/MemeEconomy/comments/8v5ama/thought_id_sell_this_nice_normy_meme_any_buyers/?utm_source=reddit-android , for example has sell in it's title and sell tag. Searching specific string or looking at the tag of the post could help decide whether post could be investible or not.

[2018-07-02 21:14] robalb commented on #163
recognizing keywords in the title is kinda complicated, but we could ask the mods to add a tag like 'no investments' that tells the bot to ignore posts having it. this could also be useful for announcements and various non-meme posts

[2018-07-02 21:17] rickles42 commented on #163
I like the suggestion from @robalb, except I wouldn't want the bot to create additional work for the mods (not sure if they already take time to categorize every post). But I believe it would be simple to implement in the bot.

[2018-07-03 03:03] rickles42 commented on #155
I asked the mods about this and the bot ought to be able to comment within locked threads, as well as edit its own comments within locked threads. I think the failure we saw the other day was not due to the thread being locked, so this issue is not an actual problem. Closing.

[2018-07-03 03:03] #155 closed, assigned to nobody

[2018-07-03 21:50] tsiq-swyx opened #166 "How to invest in memeinvestor_bot?"
Hi i am vc i have a lot of meme coins i want to invest in the bot how to invest thank you good day

[2018-07-03 21:52] jovialis commented on #166
Hey! Thanks for using memecoin! Just reply !invest (amount) under the bot's comment in any r/memeeconomy post, and your return will be calculated after 4 hours.

[2018-07-03 21:57] tsiq-swyx commented on #166
haha i was just trying to meme investing in this bot itself. its impressive work, especially coordinating between a few people. i think my only problem with it is that its nearly impossible to lose memecoins since people mostly just upvote things. as a former finance guy this irks me. i want there to be a great meme crisis of 2018.

[2018-07-03 21:59] tsiq-swyx commented on #43
didn't someone try to make a nasdanq earlier? then got sued by actual nasdaq? lol

[2018-07-03 22:02] jovialis commented on #166
Hey man, take it easy. I've got my second mortgage invested in memes. The dev team updated the formula recently so it's a LOT harder to make a decent profit. I say you give it another try to strike it rich.

[2018-07-03 22:07] rickles42 commented on #166
@tsiq-swyx i gib u 20%% share for milliun memecoins plz respected investor

[2018-07-04 06:05] #166 closed, assigned to nobody

[2018-07-04 06:42] rickles42 commented on #145
Working on this.

[2018-07-04 11:54] thecsw commented on #163
Yeah. What we can do is a simple regex. If OP has `(no invest)` keyword, the bot can just ignore the post.

[2018-07-04 12:44] jimbobur commented on #163
Is it possible to read the post flair using the Reddit API?

[2018-07-04 16:00] rickles42 commented on #163
Yes.

[2018-07-04 18:49] thecsw commented on #157
Okay then, [this](https://github.com/robalb/memeinvestor_bot/commit/d434df30cae64f481a3a0f579b9963f0214cb0d1) commit fixes this issue.

[2018-07-05 03:31] thecsw commented on #157
OKay, reopening it.

[2018-07-06 09:18] rickles42 commented on #84
Hi all,

I'm closing this Issue since we've made a number of significant changes to the formula since last month. However I really appreciate your detailed feedback, and I've made note of a few suggestions to keep in mind for future revisions to the formula:

- Consider some kind of limitation on the amount of investment that can occur, as a way to slow inflation.

- Consider return formulas that

[2018-07-06 09:18] #84 closed, assigned to nobody

[2018-07-06 09:20] rickles42 commented on #43
Closing this issue as the idea has not received broad support. It's a cool concept but I don't see us pursuing it any time soon. Please keep the suggestions coming though!

[2018-07-06 09:20] #43 closed, assigned to nobody

[2018-07-06 09:28] rickles42 commented on #52
Now that I've spent a long time with the Reddit APIs and our Reddit library `praw`, I think I've come to believe that, in fact, decoupling our input and output loops would _not_ help our throughput very much. Back when I originally wrote this suggestion, I was under the impression that reads and writes were treated differently by Reddit. However, in fact they are equivalent---the limit is on API c

[2018-07-06 09:28] #52 closed, assigned to nobody

[2018-07-06 20:30] #145 closed, assigned to rickles42

[2018-07-07 20:25] rickles42 opened #171 "Reduce load on database from always re-computing the leaderboard stats"
The database is under heavier load now since the fix to #170 (use net worth instead of balance) is fairly costly to compute. We could bake the notion of net worth into the database (store it explicitly for each investor) but I'd rather just cache the leaderboard statistics. I think this caching could be done by the `http` service with a Caddy plugin, or by the `api` service at a slightly lower lev

[2018-07-08 22:28] #157 closed, assigned to nobody

[2018-07-12 01:01] rickles42 opened #174 "Website profile pages should give a more detailed history or summary of investments"
Right now the user profile page just shows a handful of data about the user's current balance, completed investments, etc. It should have a much richer page of info. Some of this may require new web APIs.

[2018-07-12 01:03] rickles42 opened #175 "Leaderboards should include rank"
Each row of the leaderboard should say which rank it represents. No. 1, No. 2, etc.

[2018-07-12 01:05] rickles42 opened #176 "!active command should list active investments"
Instead of just returning the number of active Investments, the `!active` command should return the list of them, and maybe hyperlinks.

[2018-07-12 01:17] rickles42 commented on #163
I haven't noticed major problems with this so I'm going to go ahead and close this issue. We can revisit this in the future and work with the mods to explicitly tag meta posts if it becomes a problem.

[2018-07-12 01:17] #163 closed, assigned to nobody

[2018-07-12 02:10] rickles42 opened #177 "Website should include mini-leaderboard showing investors with the highest percentage gains in the last day"
Fun suggestion from genericusername123 [here](https://www.reddit.com/r/MemeEconomy/comments/8v0iux/the_grand_reopening_is_here/e27vpak).

[2018-07-12 14:34] #175 closed, assigned to nobody

[2018-07-13 04:02] #176 closed, assigned to nobody

[2018-07-13 16:21] rickles42 opened #181 "Reconstruct !invest response body instead of retrieving it"
We can save an API call in `calculator.py` if we avoid calling `response.body` to get our response text for editing. Instead we can just reconstruct our original response text offline, since we have all the information we used to build the original response text.

[2018-07-14 08:46] rickles42 commented on #181
Just realized it won't be possible to exactly reconstruct the original message, since the user's balance could have changed since they made the investment.

But the more I look at the `!invest` response, the more I think it could be rephrased and cleaned up a bit:

- It's slightly confusing to see [stuff like](https://www.reddit.com/r/memeinvestor_test/comments/8yrl88/testerino/e2d8qmq) "Your new

[2018-07-14 17:30] robalb opened #182 "apis should return the net worth of users"
api calls to `/api/investor/nameoftheuser`  return only the user balance, and not the net worth.

[2018-07-14 17:32] rickles42 commented on #182
👍

[2018-07-15 14:58] KerishLotan opened #184 "Possible to add a !sell command to sell prior to 4 hours?"

[2018-07-15 21:54] rickles42 commented on #184
@KerishLotan Thanks for the suggestion! Can you explain why this feature would be useful to you? Memes almost never _lose_ upvotes after you invest in them, so selling early (and evaluating your investment early) can only cause you to lose more money than if you didn't `!sell`.

The only benefit of `!sell` that I can think of is that if the investor can tell that a meme was a dud and isn't going a

[2018-07-16 12:16] thecsw commented on #181
You mean `message.py`?

[2018-07-16 12:17] thecsw commented on #146
Okay, we have the beta leaderboards now. Closing this issue. Please refer to #172 if you have questions.

[2018-07-16 12:17] #146 closed, assigned to nobody

[2018-07-17 00:36] robalb opened #185 "malformed api calls are accepted"
malformed api calls that doesn't have a slash before the method keyword are handled as correct by the api.
example: `https://memes.market/apicoins/total` returns the same as the correct `https://memes.market/api/coins/total`. This works with all the apis methods

[2018-07-18 07:44] rickles42 commented on #181
Yes, this fix is mostly/entirely in `message.py` and `calculate.py`.

[2018-07-18 08:06] rickles42 opened #186 "Create safety limit on account balances"
Before `calculator.py` gets stuck in a loop again by our richest investors, we should explicitly enact a maximum account balance and have the bot respond sanely when someone would have surpassed it.

[2018-07-18 08:11] robalb commented on #186
What about setting it to 1Q

[2018-07-18 08:14] rickles42 commented on #186
Sounds reasonable to me.

[2018-07-18 13:10] rbaldwinuk commented on #184
I would also like to see this. The whole thing is a great bit of fun but when you go all in and the meme hits its upvote ceiling early on then you're locked out until the 4-hour limit is up, which takes the fun out of it a little. Maybe a arbitrary fee (i.e. 20%) could be applied for cashing out before maturity to deincentivise repeated use.

[2018-07-19 03:20] #186 closed, assigned to nobody

[2018-07-19 03:47] #171 closed, assigned to nobody

[2018-07-20 20:07] IshanManchanda opened #190 "Allow users to set the duration after which the investment is evaluated."
The title pretty much summarizes the idea.

I think it would be really cool if one could set the period of time (in hours) after which the investment is evaluated. The default could be set to 4 hours, as currently is, but one could provide an additional parameter to set the time. Something like: !invest 100, 24.

It'd be a great addition, IMO, especially when coupled with the !sell idea. Also, hav

[2018-07-21 19:38] rickles42 opened #192 "Fix dramatic dips in last day of website charts"
Currently, the charts often take a misleading dive in the last column, since they're showing data from a partial day. I think we should just display data for full days, or else restructure the chart to show rolling stats on last 0-24hrs, 24-48hrs, 48-72hrs, etc.

[2018-07-21 20:27] rickles42 opened #193 "Backfill new Investments column final_upvotes with data from older investments"
The new `final_upvotes` column has null values for investments that matured before it was added. We should backfill it with data so people can have more complete investment histories.

[2018-07-21 21:56] robalb commented on #193
We could get the data from other investments that happened around the same time of the investment evaluation. Something like (pseudocode) `Select upvotes from investments where postID = (same postId as the one we want to fill) and time = (initialTime + 4h ±margin)`

[2018-07-21 22:19] rickles42 commented on #193
Well for the last 20 days or so the bot included the final upvote count in its return response, and we keep that reponse ID in the db already, so it should be fairly easy to retrieve that reponse and parse the final upvote count out of it. But for earlier investments, yeah, we'll have to do some sort of estimation I think.

[2018-07-21 23:45] robalb commented on #192
what do you mean for rolling stats?

[2018-07-22 01:38] rickles42 commented on #192
I just mean instead of having the last datapoint in the chart represent [investments made on July 20], the last data point could represent [investments made in the 24hrs prior]. So each data point would still represent a whole day, just not a whole day aligned on calendar day boundaries.

[2018-07-22 08:29] rickles42 commented on #193
Working on this. My script is quite slow because it requires Reddit API usage, so it'll take another day or two. I'm about 15% complete so far haha

[2018-07-23 00:08] rickles42 commented on #190
Hey @Rippr, thanks for the suggestion and the offer of help!

Thinking about your idea a bit, it seems like it would be tricky to make it work well with our current investment formula. Basically, the way investments currently work, there's no reason to invest for a short period of time (upvote counts only go up, and return only goes up with greater investment counts). The fixed 4-hour investment w

[2018-07-23 02:16] jovialis opened #194 "User investments should return an empty list instead of 404"
If a user has no investments, the api currently returns a 404 no investments found:

[code]

It would be more consistent and appropriate if it simply returned an empty list:

[code]

[2018-07-23 02:23] jovialis opened #195 "Select all investments for a given post"
[code]
should return a list of all investments (active and historical) on the post:
[code]

[2018-07-23 07:24] #194 closed, assigned to nobody

[2018-07-23 07:47] #195 closed, assigned to nobody

[2018-07-23 09:05] robalb commented on #194
Lol i'll have to rewrite a lot of stuff

[2018-07-23 12:20] IshanManchanda commented on #190
Thanks for getting back to me on this.

I thought of that too - simply extending the time window gives you more time to accumulate upvotes but perhaps we can actually look at the rate of upvotes, rather than the total number.
If I'm very confident about an investment, and I know it's going to spike really soon, I can have a shorter duration and earn a huge amount. Conversely, if I see potential in

[2018-07-23 19:53] Adoggman opened #199 "On successful investment, show how many upvotes needed to break even"
When you make a successful investment, the bot should tell you how many upvotes are necessary to break even.

For example (bold part new):

If this is too much information and clutters the comment, then there should be a break even calculator on memes.market.

[2018-07-23 21:45] rickles42 commented on #193
Done. The `initial_upvotes` column is populated for 95% of investments, going back to when we first started including the final upvote count in the bot responses. If we want to backfill the remaining 5% we'll have to do some sort of estimation, either time-wise like robalb suggests above, or by reversing the return formula (neither will be precise).

[2018-07-23 21:45] #193 closed, assigned to rickles42

[2018-07-23 23:03] #174 closed, assigned to nobody

[2018-07-24 06:46] rickles42 commented on #185
I think this is due to the way we're configuring the [proxy plugin](https://caddyserver.com/docs/proxy) for the Caddy server, which redirects any requests starting with `/api` to our API server. Theoretically we could fix this by instead proxying `/api/` but I don't see any examples like that in their documentation, so it feels weird to resort to it. I'll investigate further.

[2018-07-24 11:21] robalb commented on #192
it would be really cool if the apis returned the data required by the graph in an array, since at the moment the website has to make 14 api calls each time to `/investments/total?from=--&to=--` and `/investments/amount?from=--&to=--`. With the array method it would also be possible to display the data of all the season, something like this
![screenshot_2018-07-24 meme investor bot](https://user-im

[2018-07-24 15:43] rickles42 commented on #192
Funny, I was just playing around with the chart to try out the same thing! The animation when it loads a whole month of data day by day is kind of neat IMO.

It's not really a problem for the server to receive so many small requests, but I hear you that it's probably a pain to write the JS for. As a separate Issue I'll see if I can update the API to return this data in a batch. But is there a quic

[2018-07-24 15:48] rickles42 opened #202 "API should support bulk requests so we can generate historical charts with one call"
Currently the website has to make separate requests for each day of data in the front page historical charts. For simplicity let's have the API return multiple days in a single request.

[2018-07-24 16:13] #182 closed, assigned to nobody

[2018-07-24 21:18] rickles42 opened #203 "Website adds decimal place to displayed balances"
The request `memes.market/api/investor/rickles42_test` returns the following JSON:

However, the user profile page for rickles42_test shows:

I see the same behavior on the "Total balances" statistic on index.html.

[2018-07-24 22:43] thecsw commented on #203
Is this a problem?

[2018-07-24 23:00] rickles42 commented on #203
What do you mean? Is this a big problem? No, it's not. But it definitely shouldn't work like this, since MemeCoins can't be fractional. So we should track it as a bug, minor though it may be, and fix it sooner or later.

[2018-07-24 23:40] thecsw commented on #203
I'm so sorry, I just misunderstood what you were saying! Sure, we can get rid of the float division by converting them to integers or casting.

[2018-07-25 05:51] rickles42 opened #205 "Add historical investor net worth chart to profile page"
It would be great to show a historical chart of user's net worth over the course of a season. I think this may have been proposed before but most recent proposal from [here](https://www.reddit.com/r/MemeEconomy/comments/91ivxp/meme_investments_status_update/e2yw32c).

[2018-07-25 06:47] rickles42 commented on #199
Thanks for the suggestion!

It's a reasonable proposal, but I think the general opinion on the team right now is that this ruins a bit of the "suspense" of investing. Sure, you can always use the online calculator to figure out the break-even point, and hardcore investors probably do that already, but for more casual investors we think it's probably more fun to preserve a little of that mystery. T

[2018-07-25 07:54] robalb commented on #203
It's not a problem of type conversion (js doesn't have integers btw, only 64 bits IEEE 754 floating point). This problem is caused by a typo in the counter initialization. I'll try to fix it asap

[2018-07-25 13:01] robalb commented on #203
ok, closing this

[2018-07-25 13:01] #203 closed, assigned to nobody

[2018-07-25 16:46] robalb opened #209 "Show user balance in 'you don't have enough Mc' bot response"
As suggested [here](https://www.reddit.com/r/MemeInvestor_bot/comments/91ryrs/suggestion_read_the_post_i_suck_at_coming_up_with/?utm_source=reddit-android), the bot response should include the current user balance

[2018-07-26 15:58] #209 closed, assigned to nobody

[2018-07-27 07:17] #185 closed, assigned to nobody

[2018-07-27 07:17] #149 closed, assigned to nobody

[2018-07-27 17:31] robalb opened #214 "add secure headers to the website"
we shoud add some basic security headers to the website.
This is a list of the main headers, an analysis of the website security can be found [here](https://securityheaders.com/?q=memes.market&hide=on&followRedirects=on)

      header / {
         # Enable HTTP Strict Transport Security (HSTS) to force clients to always
         # connect via HTTPS (we may have to discuss this)
         Strict-Tra

[2018-07-28 07:24] rickles42 opened #215 "Leaderboards page should show the current season by default"
Currently they show the Beta leaderboards by default, but most users probably want to check the current season most of the time.

https://www.reddit.com/r/MemeInvestor_bot/comments/92c60o/website_leaderboards/

[2018-07-28 08:50] rickles42 opened #216 "Add donation link to website navbar"
Now that we have a way for people to donate, we should make sure it's clear and accessible from the website.

[2018-07-29 03:12] rickles42 opened #218 "Bot should use commas for thousands separators in amounts and handle comma-separated investment amounts"
Currently the bot prints out large numbers without thousands separators, like 10000000000. In addition, it doesn't handle inputs with separators correctly, either: `!invest 130,000` is interpreted as `!invest 130`.

[2018-07-29 19:45] #181 closed, assigned to rickles42

[2018-07-30 20:44] RableJustRable opened #220 "Add "!invest all" or "!allin" commands"
Calls that simply invest all of a users memecoins into one meme.

As it stands now, if you dont already know your balance there is no way to invest all your memecoins without making a !balance call first. Since a lot of people invest all their meme coins into one meme this would make things easier.

An off shoot of this would be something like "!invest all leave 200" or "!allin leave 200" which wo

[2018-07-30 21:13] rickles42 commented on #220
Hi there, thanks for the suggestion! I'm going to close this as a duplicate of Issue #75. We're currently considering adding a invest-by-percentage option that would let you do something like this.

[2018-07-30 21:13] #220 closed, assigned to nobody

[2018-07-31 04:46] #218 closed, assigned to nobody

[2018-08-03 06:10] #192 closed, assigned to nobody

[2018-08-03 06:10] #216 closed, assigned to nobody

[2018-08-03 06:10] #215 closed, assigned to nobody

[2018-08-03 08:36] rickles42 commented on #202
(We need this more than ever now that we're showing several weeks of data on the chart, instead of just a few days.)

[2018-08-03 17:12] rickles42 opened #228 "Top 3 leaderboard positions should show more digits of net worth"
Currently it looks like we are rounding to one digit ("2Q", "1Q", etc.) for the top three positions on the leaderboard page. But I notice that positions 4 and lower show values like "1.3Q". I think the top 3 positions should also show two digits of accuracy so we can tell who's slightly above 1Q, etc.

[2018-08-04 12:51] #228 closed, assigned to nobody

[2018-09-20 16:34] PseudonymPatel commented on #154
this would probably have to be done through reddit itself, because of user validation. Would we have a megathread, or could we potentially use a reddit chat for commands.

[2018-09-24 14:17] thecsw commented on #98
We have a running cAdvisor up and running that tells us everything we need. For logs, we can just see the containers' logs. Closing this issue.

[2018-09-24 14:17] #98 closed, assigned to nobody

[2018-09-30 03:49] 8BitRobot opened #241 "Add "all" as an amount option to allow investors to go all in"
Right now, saying "!invest all" doesn't do anything. I think it would be an intuitive addition to the bot, as I saw a user /u/Alpha_rimac trying it and being met with nothing. I will create a fork and try to add it if I can, but if I don't end up succeeding, this is a suggestion for you guys as well.

[2018-09-30 18:12] thecsw commented on #241
Thanks for your issue! You would be surprised to hear that we get this suggestion almost daily. This issue is a duplicate of #75 and #220. We also discussed this feature on our forum.

[First post](https://old.reddit.com/r/MemeInvestor_bot/comments/91ue12/suggestion_can_we_make_invest_all_an_option/)

[Second post](https://old.reddit.com/r/MemeInvestor_bot/comments/9fdhr8/suggestion_ability_to_inv

[2018-09-30 18:22] 8BitRobot opened #242 "Give a trophy that shows on the profile to people who exceed the money cap?"

[2018-09-30 19:49] thecsw commented on #241
No prob. You're good. Closing this issue.

[2018-09-30 19:49] #241 closed, assigned to nobody

[2018-09-30 19:56] thecsw commented on #242
There is a badge for that. Go to [genericusername123's profile](https://memes.market/user.html?account=genericusername123). You will see that he has 3 trophies.

 - Beta Billionaire - all users who reached more than 1B during the beta
 - Overflow - exceeding our cap and overflowing the database unsigned long long (2^64-1) and breaking the whole system. Took us a day to fix it. (Is this what you're

[2018-10-01 00:32] thecsw commented on #242
Oh, that badge. You see, the reddit badge system is controlled by... Reddit. We have no control over that. It is outside of our power. But that would be sweet. :)

Thanks! I am the founder of the project and its main maintainer. I will be happy to answer your questions!

[2018-10-01 00:32] #242 closed, assigned to nobody

[2018-10-03 22:12] ilikealotgithub1234 opened #243 "User entry shouldn't appear so high on page. [Web]"
<img width="207" alt="screen shot 2018-10-03 at 6 09 29 pm" src="https://user-images.githubusercontent.com/17275744/46442461-b6467680-c737-11e8-8927-b2bcdb642b57.png">
<img width="241" alt="screen shot 2018-10-03 at 6 09 52 pm" src="https://user-images.githubusercontent.com/17275744/46442462-b6467680-c737-11e8-973d-c07c17f93902.png">
<img width="1675" alt="screen shot 2018-10-03 at 6 11 35 pm" src

[2018-10-03 23:36] thecsw commented on #243
Yep, that's right. We had this issue before, seems that it has not been fixed since. I will forward this to the front-end team. The issue will be open until the issue is fixed. Thanks!

[2018-10-04 11:32] robalb commented on #243
Hi @ilikealotgithub1234 could you tell me your user agent? Something like the type of browser and os you have would be very useful for debugging the problem

[2018-10-04 14:03] ShivanshuKantPrasad commented on #184
The way your formula works after a certain point there is no more returns on more upvotes.
At the same time you are very likely to see a new meme rise. So if you remove the money from the old meme and apply it to a new meme, you are very likely to get a lot more profit.

[2018-10-04 16:29] ghost opened #246 "calculator not working in Samsung browser"
the estimate is struck at 000 and doesn't change whatsoever. working fine in other browsers. i think it is a browser compatibility issue

[2018-10-04 16:36] ghost commented on #184
An advantage of !sell would be the ability to divert coins to a different investment. Say you go all in on something and it has partially matured with a 30% gain. You don’t think it will go much higher. You can use !sell to pull out of that investment (maybe with a slight fee) to invest in something else.

[2018-10-04 16:59] thecsw commented on #246
This is probably a front-end issue. I will forward this to the front-end team. The issue will remain open until the issue is solved or another solution is reached. Thanks!

[2018-10-04 17:03] thecsw commented on #205
We have charts and graphs implemented. Closing this issue.

[2018-10-04 17:03] #205 closed, assigned to nobody

[2018-10-04 17:45] robalb commented on #205
This was a request for a set of data that we are not showing in the charts at the moment, but #202 should be implemented first in order to calculate this data efficiently, or we would need to make some changes to the api

[2018-10-08 20:23] lynnpark commented on #243
I'm seeing the same problem on Chrome on Windows 10

[2018-10-09 13:44] lynnpark opened #250 "Ability to Short Memes"
There needs to be an ability to short memes. The less upvotes a meme earns, the higher the resulting payoff.

[2018-10-09 14:04] jimbobur commented on #250
This has been discussed previously on several occasions and the conclusion was reached that it wouldn't be a good idea. If a bad meme is posted, it's likely to just stay at or close to zero upvotes. If it's already got sufficiently high upvotes that you could theoretically make a profit by shorting it, it's clearly already a good meme that's only going to increase in upvotes. So whilst you could t

[2018-10-09 23:03] thecsw commented on #250
Closing this issue. Thanks, @jimbobur

[2018-10-09 23:03] #250 closed, assigned to nobody

[2018-10-14 17:24] #177 closed, assigned to nobody

[2018-10-14 18:25] thecsw commented on #177
Finally

[2018-10-18 17:36] #243 closed, assigned to nobody

[2018-10-25 17:48] matthewsanetra opened #260 "ROI Calculator rounds up"
Banks usually always round down.

[2018-10-25 18:24] thecsw commented on #260
Can you please elaborate and add more information? Like images or actual examples of your issue.

[2018-10-28 11:57] matthewsanetra commented on #260
This seems to be a front end issue, as I’m pretty sure the API only returns a multiplier/factor.

If you type in old 1, new 100, as it is already maxed out, it should be the same as old 1 new 1000.

However, new 1000 actually produces less than 10*new100 showing that new 100 was rounded upwards after the multiplication of the factor

[2018-11-04 04:08] thecsw commented on #260
Can you elaborate more? Do you mean that the calculator on memes.market does not follow the algorithm described in our white paper or is it a precision issue?

[2018-11-07 11:33] nithssh opened #266 "Spooktober is over!"
Please change back "upd00ts" {%UPVOTES_WORD%*} from the bots replies in the comments to "upvotes"
and also revert the  cursor style and the logo in the top left bar in the memes.market site {master/docs/resources).

spooktober is over and it is time that we change back the seasonal spook theme to normal.

[2018-11-07 15:45] thecsw commented on #266
Hey! Hug thanks for reminding me that! Our upvotes are automatically switched depending on what month it is and I just opened a new PR #267 that reverts everything back to normal!

Happy investing!

This issue will be automatically closed when pr is merged.

[2018-11-07 15:46] #266 closed, assigned to nobody

[2018-11-07 15:58] thecsw commented on #266
If you open the website and it is still not updated, please try clearing your browser's cache. Chromium just loves to cache everything it sees

[2018-11-13 15:57] matthewsanetra commented on #260
#269 seemed to solve this

[2018-11-13 15:57] #260 closed, assigned to nobody

[2018-11-13 18:11] thecsw commented on #246
I think this issue was because we were calculating remotely. With #269 the calculator works in the browser and I would assume that it ultimately solves the issue. Thank you.

[2018-11-13 18:11] #246 closed, assigned to nobody

[2018-11-13 18:19] robalb commented on #246
No, i think this had to do with caching or es6 js compatibility issues, i experienced similar problems on old samsung browsers. The solution here would be for me to actually learn how to use webpack and integrate it, that would solve both the caching and incompatibility issues in a more professional way that the one we are currently using. Either way, i see no reason to keep this issue open, there

[2018-11-21 03:53] thecsw opened #272 "Add test cases"
I had this recommendation a long time ago and I think this is the moment where we need to make some test cases for the bot.

[2018-11-21 13:44] mappum commented on #272
Totally agree, development could be made a lot easier without having to test by hand on Reddit. Would be nice to be able to mock the Reddit API types (`Submission`, `Comment`, etc.), and the database (or at least use a throwaway test database in the tests) to test the core command handling behavior.

[2018-11-22 19:12] thecsw commented on #272
Absolutely!

[2018-11-25 04:39] thecsw opened #275 "Fix TODOs in the code."
I will merge my branch soon, it is a huge branch that cleans up the code and makes it a bit faster. PEP8 compliance mostly. I left quite a bit number of TODOs, if you wish to support this project and familiarize yourself with our codebase, feel free to hunt them down and execute them mercilessly.

Some of them include:
 - Adding docstrings
 - Getting rid of broad try-except blocks
 - Reducing the

[2018-11-25 17:42] thecsw opened #277 "Suggestion: Port the project to kubernetes (minikube)"
I have been thinking about how we can make all of this, even more, DevOps friendly and one of the things we can do is port our system to container orchestration tools - kubernetes.

We need only 1 node so we can use minikube.

Instead of basic `docker` and `docker-compose` tools, we will have more control over our containers and we can actually code rules on containers failures.

[2018-12-22 17:34] #128 closed, assigned to nobody

[2019-01-10 14:23] thecsw opened #295 "Add a template command for OPs"
This is a recommendation of adding a new command - `!template link`, because the bot makes an automatic sticky post, realy valuable information, like OP meme's template can get lost. This new command will allow the OP to reply to the bot with a link to the template and bot will update it's sticky, by adding the link that OP has provided.

This means adding a new regex - `!template\s+(.+)`

If OP l

[2019-01-17 20:27] #272 closed, assigned to nobody

[2019-01-17 20:27] #295 closed, assigned to thecsw

[2019-01-28 16:53] swapsha96 opened #314 "Link to the comment in !active"
The reply of !active contains the link to the post rather than to the !invest <x> comment user post. I imagine not only the user will be able to see the post but also refer to the details of the investment (including update).

[2019-02-04 14:42] Caribosaurus opened #318 "Fix the api"
The api is down.

[2019-02-07 15:11] patrickblackjr opened #320 "Website revamp"
A few things regarding the website:

- Is a revamp something that is wanted? Maybe utilizing a framework (Nuxt.js or Vue is my personal preference)? If so I'd love to get started on a PR.
- In its current state the website is broken. All of the stats are not working.
- Is moving it to a separate repo something that is desired? I feel like it's better practice. We could use Netlify to host.

[2019-02-07 15:18] patrickblackjr opened #321 "Adoption of Conventional Commits"
https://www.conventionalcommits.org/en/v1.0.0-beta.3/

I think this would be a nice thing to adopt.

[2019-02-07 21:11] thecsw commented on #321
Hmm, interesting! Yeah, we have to make our commits more meaningful for outside contributors. Can you list the advantages of adopting this system?

[2019-02-07 21:28] patrickblackjr commented on #321
- It would make commits more meaningful to outside contributors (like you said).
- Good practice that allows more thoughtful commits and encourages better explanation when submitting PRs and commits.
- You can automatically generate changelogs based on commits using something [like this](https://semantic-release.gitbook.io/semantic-release/).
- You could post the updates to reddit automatically, o

[2019-02-07 21:36] thecsw commented on #321
I see. Looks fantastic. I will have to run this over the team. pm me on reddit u/thecsw so we can talk!

[2019-02-08 03:53] #320 closed, assigned to nobody

[2019-02-11 14:09] Caribosaurus commented on #318
pretty sure the issue is related to:
https://github.com/MemeInvestor/memeinvestor_bot/commit/af325324aabe30210c4cb5faa25007783f4682ab

if its not, it has to be related with architecture/hosting issue

[2019-02-11 14:18] Caribosaurus commented on #318
also, the docker-compose has not been updated with the previously mentionned commit. Was the api down for 2 months?

[2019-02-14 08:44] calchulus opened #324 "love the idea - just want to suggest a term"
I'd love to just create the term Invest**meme**nts

Cheers <3

[2019-02-16 22:56] thecsw commented on #324
Do it.

[2019-02-18 23:10] patrickblackjr commented on #318
I think we're going to be moving to a Node.js based API, since Node just works so fluidly in that manner.

[2019-02-18 23:10] patrickblackjr commented on #318
See the repo here for the progress (really just boilerplate now): https://github.com/patrickblackjr/mib-api

[2019-02-21 06:13] thecsw commented on #318
Hello there! Thank you for looking into the API issue. The binding that I changed from `0.0.0.0` to `192.168.0.1` is not the reason of the API's failure. The PEP8 compliant update was released and deployed before the firms update. API broke during first several days since firms update came out, meaning that the service was stable with new changes. I thought maybe some software got upgraded and bec

[2019-03-03 17:20] lukenamop commented on #199
I have a functioning calculator here, using the most updated equations of the bot: http://memeinvestor.co.nf

And I can easily make a break-even calculator as well, if that's something that's wanted! I can start working on it anytime.

[2019-03-12 22:40] thecsw commented on #318
API is being actively fixed. It is ~70% up and runnig thank to #335 and #339. I will close this issue because the problem is almost fixed. API will receive several urgent updates until it's fully functional.

[2019-03-12 22:40] #318 closed, assigned to nobody

[2019-03-13 20:43] #314 closed, assigned to nobody

[2019-03-16 23:03] thecsw opened #350 "Meme Investment and Firm Suggestions from r/MemeInvestor_bot"
Taken from [this submission](https://www.reddit.com/r/MemeInvestor_bot/comments/az4734/meme_investment_and_firm_suggestions/).

1. Trader protection: When a firm trader is fired, the amount that they have earn for the firm since the last pay out will be returned to them. This is to prevent firms from hiring a bunch of traders, taxing them, and then firing them before the payout.

2. Adjustable pay

[2019-03-16 23:09] thecsw opened #351 "Suggestion from u/PeterPorky"
The suggestion is this: Let users respond to the sticky of the post with implementations of the meme format suggested in the post. Upvotes to these comment replies would be treated as MemeCoins at a flat rate (rather than a percentage from suggesting meme templates).

This would create:

A way for users to participate and engage in the economy with low risk low reward. (As a user, the risk of losi

[2019-03-22 04:55] patrickblackjr opened #360 "Firm ranks have an off-by-one error"
The firm level is 1 below what it should be, as default is level 1 not level 0.

![Image from iOS](https://user-images.githubusercontent.com/13282318/54801417-bf1efc00-4c34-11e9-98bd-8ea5ae3f6bb1.png)

[2019-03-22 04:57] patrickblackjr opened #361 "Firms with no users are still appearing in API"
![Image from iOS (1)](https://user-images.githubusercontent.com/13282318/54801452-ef669a80-4c34-11e9-9863-9cf211677d61.png)

This might represent a larger issue: firms with no users persist in the database even after no users are in the firm. This would also prevent anyone from ever creating another firm called the same as an abandoned firm.

This also brings the question: Should we be deleting fi

[2019-03-22 07:13] thammarith opened #363 "Command `firm <firmname>` doesn't work"
**Describe the bug**
I tried to get the information of a firm using the command `firm <firmname>` but it doesn't work. I also tried `!firm <firmname>`; it also doesn't work. The bot doesn't reply to me. Tried both direct reply to the bot, and on a child reply.

**To Reproduce**
Steps to reproduce the behavior:
1. Comment `firm The Federal Reserve Dank` or `!firm The Federal Reserve Dank`

**Expect

[2019-04-11 09:13] timendum commented on #184
We implemented this in /r/BancaDelMeme (an italian version of MemeEconomy).

Source https://github.com/timendum/BancaDelMeme/blob/80cb36c47e01dbdeca6ba9808fa1a5d0f72f9088/src/comment_worker.py#L1046

We also introduced a little fee while selling: the original invested mem€coin is reduced by 1%-25% depending proportionally on how much time is eroded.
So if you invest 1000 and then `!sell`, the inve

[2019-04-18 16:44] nithssh commented on #324
lol just did a quick "Find" on the entire solution and there are at least 142 occurrences within 29 files.

that's just whole word matches...  given the current status of the project i doubt anyone might be ready to do such a "small" yet HUGE change for a tiny joke even tho we all might love the idea of it sadly.

[2019-05-04 07:05] hazzakak opened #377 "The API produces a 400 error with random success"
**Describe the bug**
I have a discord script which allows users to see active investments, a summary of their account etc but I have noticed that it produces an error if it's used too many times. The rate is ridiculous it's like 1 command per 10 seconds or it returns an error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://meme.market/api/investor/hazzakak_
2. Reload a few ti

[2019-05-04 19:31] hazzakak opened #378 "The API produces a 400 error with random success"

[2019-05-04 19:31] hazzakak commented on #378
Describe the bug
I have a discord script which allows users to see active investments, a summary of their account etc but I have noticed that it produces an error if it's used too many times. The rate is ridiculous it's like 1 command per 10 seconds or it returns an error.

To Reproduce
Steps to reproduce the behaviour:

Go to https://meme.market/api/investor/hazzakak_
Reload a few times
See error

[2019-05-05 09:11] #377 closed, assigned to nobody

[2019-05-07 18:42] hazzakak commented on #363
Is this fixed as there was a recent commit about the firm command?
EDIT: Tagged owner
@thecsw

[2019-05-08 06:19] jacob-padley commented on #350
I'm gonna take a shot at number 6, sounds like a great way to make use of tax rates.

[2019-05-08 17:34] thecsw commented on #378
Interesting, I think I just found the problem. If you look at our API, we have it written in golang and the way it connects to a database is a pool of connections. So when we make a database query, golang already has a number of active maintained connections, we take one from the pool, execute it, finish our query and return our connection to the pool. If no connection is available from the pool,

[2019-05-08 18:53] thecsw commented on #361
Fixed!

[2019-05-08 18:53] #361 closed, assigned to nobody

[2019-05-08 18:53] thecsw commented on #360
Fixed.

[2019-05-08 18:53] #360 closed, assigned to nobody

[2019-05-09 16:08] thecsw commented on #378
O LA LA. Silly me. I found the error. In one of the methods, I did not close a DB connection and it was dangling after that. Our DB has a limit of 100 simultaneous connections, so if the function is executed 100 times, DB dies. I just fixed it in the following urgent commit! c6669ee

[2019-05-09 16:08] #378 closed, assigned to nobody

[2019-05-09 16:17] hazzakak commented on #378
Thank you!!!

[2019-05-09 16:24] thecsw commented on #378
Also, here is the next commit 5a0d59d

[2019-05-09 17:03] thecsw commented on #324
I agree with @Dem1se. Closing the issue.

[2019-05-09 17:03] #324 closed, assigned to nobody

[2019-05-09 19:39] nithssh opened #381 "Improved accessibility for newcomers"
When browsing the MIB's subreddit i noticed that a lot of new users are confused and don't know how to use the MIB and are hence generating spam.

my suggested solution:
---
1. add a entry for the !create command in memes.market.
2. sticky posts on r/MemeInvestor_bot that contain the basics of creating & investing.

[2019-05-11 15:20] nithssh commented on #381
I'm sorry, this is more suitable as a post on the MIB subreddit.

[2019-05-11 15:20] #381 closed, assigned to nobody

[2019-05-11 15:32] nithssh opened #383 "!template command causes weird formatting."
MIB's comment after the !template command is invoked has weird formatting where the text telling the author to link the template gets bolded after the template has been linked instead  of the link to the template.

screenshots showcasing the Bug:
https://imgur.com/a/VFl4rON

[2019-05-11 21:27] thomasvt1 opened #384 "Networth reported in firm api is not correct"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://meme.market/api/firm/158/members?per_page=100&page=0&from=&to='
3. Scroll down to 'networth'
4. See the number: 0

**Expected behavior**
networth should never be zero (except if user is broke)

**Screenshots**
![image](https://user-images.githubusercontent.c

[2019-05-11 21:29] thomasvt1 commented on #384
The problem is that if I want to make a leaderboard containing only my firm I have to make a very large amount of calls (size of firm + 1). So for SOL that would be 41 API calls instead of just one;

![image](https://user-images.githubusercontent.com/2271011/57575096-a4068680-7444-11e9-92d0-47df25b757a8.png)

[2019-05-15 05:27] keanucz opened #386 "!Firmlogo command to maybe set firm logo in flair?"
Since most of the top 10 firms probably have logos, why not allow the ability for firms to set a flair for their logo? (Also it would help me on MemeBot to include an image of the firm's logo lol)

[2019-05-15 05:28] keanucz commented on #384
Is the user's networth actually 0? Also, would you expect broke to be 1 if their networth is below 100? I could probably throw in a quick PR for that.

[2019-05-15 05:56] keanucz commented on #363
Yes, this is fixed already as far as I can see.

![SOL Enterprises](https://i.imgur.com/x7X7hKN.png)

[2019-05-15 06:57] keanucz opened #388 "Switch to GitHub Projects from Waffle?"
Waffle is shutting down today, and they've made a migration path to GitHub Projects, so maybe we should migrate soon?

[2019-05-15 07:01] keanucz commented on #214
I'm not sure whether we should enable HSTS, as anything to do with HTTP/HTTPS is a bit fiddly and we need to consider whether we're able to drop HTTP support or not. All the other options though look to be good, and should be implemented.

[2019-05-15 07:54] thomasvt1 commented on #384
@Keanu73 networth is wrongly reported as balance it seems?

Networth isn't actually 0 but somehow it is reported as zero.

Networth is calculated here;
https://github.com/thecsw/memeinvestor_bot/blob/master/api/firm/firm.go#L187

[2019-05-15 08:06] thammarith commented on #363
Thanks! I'll close this.

[2019-05-15 08:06] #363 closed, assigned to nobody

[2019-05-15 10:34] keanucz commented on #384
I mean, doesn't networth == balance?

[2019-05-15 10:54] thomasvt1 commented on #384
Nope, your balance is the amount you can invest, and create a firm with.
Net worth is ``balance + active investments``.

If someone has done !invest 100% the balance should be zero and the net worth should be equal to the investment done

[2019-05-15 17:54] keanucz commented on #384
It's kindof hard to read that SQL query so I'm not sure what else we can do lol

[2019-05-16 06:39] keanucz commented on #275
@thecsw You reckon this is still valid or not really needed since the rewrite in Go?

[2019-05-16 15:48] #388 closed, assigned to nobody

[2019-05-16 15:48] #214 closed, assigned to robalb

[2019-05-16 15:50] keanucz opened #393 "Ideas on effectively neutering bots"
The bot problem has become a big one in recent months, with the firm update only making investments more predictable. Everyone knows the big formula: high investment count + low upvotes == big wins. But suppose we could find people who have effectively kept troves of data about successful memes (like @thomasvt1) and then use it to our advantage, looking at the bots of the past and then applying th

[2019-05-16 16:26] Winb23 opened #395 "!template not compatible with m.imgur posts"
**Describe the bug**
When posting the template if using a m.imgur format the bot will not respond to you and will not post the template

**Expected behavior**
The bot to respond saying mobile imgur links aren't allowed or the bot to use it as the template link

[2019-05-16 16:27] keanucz commented on #395
That should be easy to fix. I'll throw in a quick PR for that.

[2019-05-16 16:39] keanucz commented on #383
I'll look into it.

[2019-05-16 16:57] keanucz commented on #383
This is a strange bug. No mention of any h2 markdown in any of the !template code. @thecsw Any idea?

[2019-05-17 12:04] soleary1222 opened #397 "Initial upvote count changes"
When investing at 0 upvotes, the MIB states that the investment is performed at 0 upvotes.  When the investment matures that initial count is altered to 5 upvotes.  Calculations on the site also show an initial vote count of 5 when the initial count is 0.

Perhaps even if some black magic on the starting vote count has to occur for calculations, the initial count can be preserved.

[2019-05-18 07:19] thomasvt1 commented on #397
All investments done under 5 upvotes are automaticly set to 5. This was done because investing at <5 the return would be significantly higher than at 5 upvotes and was seen as 'unfair'

[2019-05-18 13:50] soleary1222 commented on #397
Ah got it!  Maybe the bot verbage could reflect that somehow so people don't bother you with the same comment/issue.  If someone invests at 5 or under it could say:  "x MemeCoins invested @ the Ground Floor! (5 upvotes or under)"

Then if the math changes later you could bump it to whatever (10 upvotes or under, etc.)

Just an idea.  Thanks for the hard work!  I love this game!

[2019-05-20 20:20] #395 closed, assigned to nobody

[2019-05-21 05:48] keanucz opened #398 "Automatic badge granting?"
Badges like the Contributor badge or Donor badge have to be granted manually, but what if we could just do 2 OAuth callbacks (e.g. for Contributor badge: github and reddit), and then grant the user their supposed badges?

[2019-05-21 20:12] keanucz opened #399 "Address firm payout problem"
Along with the suggestions from #350 about firms, we should make it so that people who manage to contribute their payout back in or are just short of the set threshold over the week are able to get their entitled payout.

This would remove the clout of reputation when someone ditches a big firm just to steal payouts in the /r/MemeEconomy community, and would also save a lot of hassle for big firm

[2019-05-26 02:12] thecsw commented on #398
That is a good idea. For now, we have around 20 contributors and 14 patrons. And that happened over the year. It surely would be great to automate it, but it still can be done manually. If we had thousands of users, it would be a high priority. If you feel like doing it, please do.

[2019-05-26 02:12] #398 closed, assigned to nobody

[2019-05-26 02:15] thecsw commented on #384
Good point! I completely missed it. Networth was never even supposed to be there. I will make a PR to get rid of it.

[2019-05-26 02:21] #384 closed, assigned to nobody

[2019-06-02 05:02] thecsw commented on #202
This is an old issue. New API suuports very fast parallel operations which makes the huge queries possible.

[2019-06-02 05:02] #202 closed, assigned to nobody

[2019-06-02 05:03] thecsw commented on #277
No need for it right now. It would be very cool to do it, but my laptop just dies whenever I try to use kubernetes.

[2019-06-02 05:03] #277 closed, assigned to nobody

[2019-06-02 07:42] keanucz opened #414 "Update issue template?"
I went to the issue template file (https://github.com/thecsw/memeinvestor_bot/blob/master/.github/issue_template.md) and it says "You are using an old version of issue templates. Please update to the new issue template workflow."

Not the biggest priority but it's just nice to get everything done lol

[2019-06-02 13:34] keanucz opened #415 "Create GitHub Projects board"
We used to use Waffle, now it's gone, now most things are kinda haywire. This calls for GitHub Projects @thecsw

[2019-06-02 16:39] thecsw commented on #414
Okay, I will look into it!

[2019-06-04 16:26] keanucz opened #416 "CEO, CFO COO values in database not being updated with CEO leave"
Our CEO just recently left the firm, and swapped with someone else. The DB values haven't been updated and have somewhat gone wrong.. https://meme.market/api/firm/125

It was my fault as I didn't properly add checks for CEO leaving to swap roles around in DB.

[2019-06-04 17:10] keanucz opened #419 "Make per_page mandatory?"
As I found in #418, the API was sending junk data as it didn't have the per_page variable, making it seem the variable is mandatory. How about we just make it mandatory, and if not used, send an error JSON message? (we should really focus on implementing API error handling in the Go rewrite)

[2019-06-04 17:17] keanucz opened #420 "Suggestion: Make type structs global vars"
In every API file I see right now, you constantly re-implement the type structs over and over again. Although I don't know if Go has this functionality, it's better to just store the types as one global struct than can be changed when necessary, and prevents any confusion having to update them (like my change #407).

[2019-06-04 20:27] keanucz opened #422 "Add CI tests"
It's kindof remarkable that testing was quite amok for you (#272) but what's even more restraining is the fact that we don't have CI. It would make life so much easier, especially for you (as you're the only active maintainer of the project) as CI would automatically test commits and find any problems with them. We should feed our test cases into CI and let it do the dirty work for us. (Although w

[2019-06-04 20:27] keanucz commented on #386
This might be functionality for the Go rewrite, or not (moderation would be a pain).

[2019-06-04 20:27] #386 closed, assigned to nobody

[2019-06-04 20:28] keanucz commented on #399
This would require a lot more thinking before it would get to the place it's meant to be in.

[2019-06-04 20:28] #399 closed, assigned to nobody

[2019-06-04 20:29] keanucz commented on #393
The bot problem will probably be neutered when the Go rewrite is set to come out, as stocks and shares will be the next big thing on the to-do list, and will be implemented much faster as well (with @thecsw's expertise of Golang).

[2019-06-04 20:29] #393 closed, assigned to nobody

[2019-06-04 20:29] keanucz commented on #416
I probably shouldn't have created this issue as it's going to be fixed instantly anyway, but meh

[2019-06-04 20:29] #416 closed, assigned to nobody

[2019-06-05 05:48] keanucz commented on #419
Nooope it seems it defaults to 100 and the API thing had a null row

[2019-06-05 05:48] #419 closed, assigned to nobody

[2019-06-07 17:02] keanucz commented on #129
Has this been fixed?

[2019-06-07 17:03] keanucz commented on #184
The stocks and shares update will pretty much invalidate this and have some sort of selling/buying system.

[2019-06-07 17:03] thecsw commented on #129
Kind of. Not as we would like it to be. So, if fail happens, we rollback

[2019-06-07 17:04] thecsw commented on #184
@Keanu73 it will be closed when stocks are merged

[2019-06-07 17:05] keanucz commented on #199
Has the stance changed? I'm not sure what suspense this has, it's more information and statistic. And anyway, most investments succeed so you're better just putting it there than leaving noobs to work out their own ends. It would also actually kindof educate them (since some people in MemeEconomy don't know much about this stuff unlike people in Meme Factory and the top 200 or so.)

[2019-06-07 17:07] keanucz commented on #154
Instead of a megathread or a reddit chat, a website will be used (soon to be developed, and /r/MemeEconomy will in the distant future transition to this platform. You could also sign up on this platform independently without reddit in the future.)

[2019-06-07 17:14] keanucz commented on #190
After all, we are implementing a stock market into MemeEconomy, so the mechanics of supply and demand will apply.

[2019-06-08 11:41] keanucz opened #424 "Go rewrite: Investments column for firms?"
How about we possibly add a column (not in the SQL table) to the API output that adds up how many investments the firm members as a whole have done? Not important, just a nifty statistic.

[2019-06-08 17:09] thecsw commented on #424
It’s easier to add that to a table in database in the rewrite. Remember that we decided to sacrifice space for performance

[2019-06-09 22:13] TheRamenChef opened #430 "Docker link in readme returns 404"
The [Docker link](https://www.docker.com/community-edition) in the readme is a dead link. It should be changed to a location that does work.

It probably doesn't matter much, but I'm using Safari 12.1.1 on Mac OSX Mojave 10.14.5.

[2019-06-12 06:56] keanucz commented on #430
New link is https://www.docker.com/products/docker-desktop.

[2019-06-12 11:04] keanucz commented on #415
@thecsw So when are we getting it lol

[2019-06-12 11:05] keanucz commented on #321
@thecsw So what's the team's decision on this?

[2019-06-12 11:05] keanucz commented on #275
I think this issue can be closed since we'll adopt all of these practices in the Go rewrite (and we already have)

[2019-06-12 11:07] keanucz commented on #199
@thecsw Do you reckon we should implement this?

[2019-06-12 11:08] keanucz commented on #129
In the Go rewrite, GORM will do all the error handling for us

[2019-07-07 19:51] JonathanTheZero opened #442 "Firmpages on meme.market"
I thought the firm-pages could maybe be a bit redone. For example, adding a separate column for the networth of the user. (+It bothers me that the roles are shortened and not capitalized... but that's probably only me).

I think I should be able to do that really quick, I don't know if it's really needed tho.

[2019-07-11 19:55] JonathanTheZero commented on #442
Update: code should be finished... I just have a few problems with the test environment. I hope I can commit the changes this weekend.

[2019-07-12 14:13] Caribosaurus opened #444 "Invest % doesnt work in some cases"
**Describe the bug**
In some cases the % ends up exceeding the actual balance, this probably due to python rounding when casting to ints

**To Reproduce**
1. have a balance of 7,847,709,332,162,940 M¢
2. !invest 100%
3. bot doesnt take it

**Expected behavior**
Invest all your money

TO FIX:
change
`        # Allows input such as '!invest 100%' and '!invest 50%'
        if suffix == '%':

[2019-07-14 21:25] #442 closed, assigned to nobody

[2019-08-06 15:35] robalb opened #447 "website data doesn't load"
the website fails to load api data, and display the following message:
`We couldn't get the latest data. Error undefined`

- happens on all browsers

[2019-08-07 00:48] #447 closed, assigned to nobody